<div *ngIf="negoID==0" class="container-fluid">
  <div class="row" style="height:600px; padding: 0px">
    <div class="col-sm-3"
         style="background-color: white; border-right: 1px solid #E6E7EB; padding: 0px; overflow: auto;">
      <form>
        <div class="col-md-12 row input-group">
          <input type="text" class="form-control" placeholder="Search for..." aria-label="Search for...">
          <span class="input-group-btn">
            <button class="btn btn-secondary" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
          </span>
        </div>
      </form>
      <div class="row align-items-start" style="margin: 0px; padding: 0px">
        <div class="row col-sm-12 text-center justify-content-center"
             style="color:#999;padding: 0px; margin: 0px; background-color: white">

          <i class="fa fa-info-circle fa-4x" aria-hidden="true"></i>
          Sorry, no results found. Please check your search terms and try again.

        </div>

      </div>
    </div>

    <div class="row align-items-center col-sm-9 justify-content-center">
      <div class="col">

        Welcome to Electronic Devices Market.<a routerLink="/home">Click here</a> to start searching for products and
        suppliers that interest you.
      </div>

    </div>

  </div>
</div>


<div *ngIf="negoID!=0" class="container-fluid">
  <div class="row" style="height:600px; padding: 0px">
    <div class="col-sm-3"
         style="background-color: white; border-right: 1px solid #E6E7EB; padding: 0px; overflow: auto;">
      <form #searchNegoForm="ngForm">
        <div class="col-md-12 row input-group">
          <input type="text" name="searchNego" ngModel class="form-control" placeholder="Search for..."
                 aria-label="Search for...">
          <span class="input-group-btn">
            <button class="btn btn-secondary" type="button" (click)="searchNego(searchNegoForm.value.searchNego)">
              <i class="fa fa-search" aria-hidden="true"></i>
            </button>
          </span>
        </div>
      </form>
      <div class="row align-items-start" style=" border: 1px solid #E6E7EB; margin: 0px; padding: 0px">
        <div *ngFor="let nego of negotiations" class="row col-sm-12" (click)="changeNego(nego.negotiationID)"
             style="border-bottom: 1px solid #E6E7EB;padding: 0px; margin: 0px; background-color: white">
          <img
            src="{{nego.post.primaryImage}}"
            style="width: 48px;height: 48px">
          <strong class="col-sm-10">{{nego.post.postTitle}}</strong>
          <div class="col-sm-8 offset-2">
            <!--<img class="rounded-circle"
                 src="https://sc02.alicdn.com/kf/HTB131ahSVXXXXbjXFXXq6xXFXXXq/Original-Unlocked-Redmi-Note-4-Xiaomi-32gb.jpg_100x100.jpg"
                 style="width: 48px;height: 48px">-->Supplier: {{nego.post.supplier.username}}
          </div>
        </div>
      </div>

    </div>
    <div class="col-sm-5" style="padding: 0px; position: relative; overflow: auto; ">
      <div class="row col-sm-12"
           style="padding: 10px; margin: 0px; background-color: white;border-bottom:   1px solid #E6E7EB">
        <div class="row col-md-12">
          <img
            src="{{negotiation?.post.supplier.companyLogo}}"
            style="width: 48px;height: 48px">
          <label class="col-md-6">{{negotiation?.post.supplier.companyName}}</label>
        </div>

        <div class="row col-md-12 justify-content-end">
          <small data-toggle="collapse" data-target="#companyInfo" style="cursor: pointer">
            Show more
            <i class="fa fa-caret-down" aria-hidden="true"></i></small>
        </div>

        <div class="collapse col-sm-12" id="companyInfo" style="margin: 0px;padding: 0px;">
          <div class="row col-sm-12" style="font-size: 13px; padding: 0px;margin:0px">
            <div class="col-sm-7" style="padding: 0px">
              <div class="row col-sm-12">
                <h6>Basic Information</h6>
              </div>
              <div class="row col-sm-12" style="padding: 0px">
                <label class="col-sm-6" style="padding: 0px 0px 0px 10px">Company Name</label>
                <label class="col-sm-6">{{negotiation?.post.supplier.companyName}}</label>
              </div>
              <div class="row col-sm-12" style="padding: 0px">
                <label class="col-sm-6" style="padding: 0px 0px 0px 10px">Company Phone</label>
                <label class="col-sm-6">{{negotiation?.post.supplier.companyPhone}}</label>
              </div>
              <div class="row col-sm-12" style="padding: 0px">
                <label class="col-sm-6" style="padding: 0px 0px 0px 10px">Company Website</label>
                <label class="col-sm-6">{{negotiation?.post.supplier.companyWebsite}}</label>
              </div>
              <div class="row col-sm-12" style="padding: 0px">
                <label class="col-sm-6" style="padding: 0px 0px 0px 10px">Company Email</label>
                <label class="col-sm-6">{{negotiation?.post.supplier.companyEmail}}</label>
              </div>
              <div class="row col-sm-12" style="padding: 0px">
                <label class="col-sm-6" style="padding: 0px 0px 0px 10px">Company Address</label>
                <label class="col-sm-6">{{negotiation?.post.supplier.companyAddress}},
                  {{negotiation?.post.supplier.companyCity}}</label>
              </div>
            </div>
            <div class="col-sm-5" style="padding: 0px">
              <div class="row col-sm-12">
                <h6>Contact Information</h6>
              </div>
              <div class="row col-sm-12" style="padding: 0px">
                <label class="col-sm-5" style="padding-right: 0px">User Name</label>
                <label class="col-sm-7">{{negotiation?.post.supplier.username}}</label>
              </div>
              <div class="row col-sm-12" style="padding: 0px">
                <label class="col-sm-5" style="padding-right: 0px">Email</label>
                <label class="col-sm-7">{{negotiation?.post.supplier.email}}</label>
              </div>
              <div class="row col-sm-12" style="padding: 0px">
                <label class="col-sm-5" style="padding-right: 0px">Phone</label>
                <label class="col-sm-7">{{negotiation?.post.supplier.phone}}</label>
              </div>
            </div>
          </div>
        </div>


      </div>

      <div class="row col-sm-12 align-items-start"
           style="padding: 10px; margin: 0px; overflow: auto;height: 400px">
        <div *ngFor="let message of messages" class="row col-sm-12" style="padding: 0px; margin: 0px;">

          <div *ngIf="message.sender.userId == user.userId"
               class="row col-sm-12 justify-content-end align-items-center">
            <div class="col-sm-4"></div>
            <div class="col-sm-7">
              <small>{{message.messageDay}}</small>
              <div class="alert alert-info" role="alert">
                {{message.message}}
              </div>
            </div>
            <div class="col-sm-1">{{message.sender.username}}</div>
          </div>

          <div *ngIf="message.sender.userId != user.userId"
               class="row col-sm-12 justify-content-start align-items-center">
            <div class="col-sm-1">{{message.sender.username}}</div>
            <div class="col-sm-7">
              <small>{{message.messageDay}}</small>
              <div class="alert alert-secondary" role="alert">
                {{message.message}}
              </div>
            </div>
            <div class="col-sm-4"></div>
          </div>

        </div>
      </div>
      <div class="col-sm-11 rounded align-items-center"
           style="bottom: 0; padding:15px; margin: 20px; background-color: white; box-shadow: 0 2px 6px 1px rgba(0,0,0,.1)">
        <form #sendMessageForm="ngForm">
          <div class="row">
            <div class="col-md-9">
              <input name="message" type="text" class="form-control" style="border: none"
                     placeholder="Please type your message here..." ngModel>

            </div>
            <div class="col-md-3 justify-content-end">
              <button type="submit" class="btn btn-secondary"
                      (click)="sendMessage(sendMessageForm.value); sendMessageForm.reset()">Send
              </button>
            </div>
          </div>
        </form>
      </div>

    </div>

    <div *ngIf="negotiation?.checked==true" class="col-sm-4"
         style="padding: 0px; border-left: 1px solid #E6E7EB; overflow: auto; font-size: 15px">
      <form #createNegoOrderConfirm="ngForm">
        <div class="card" style="margin: 20px;">
          <div class="card-body">
            <div class="row col-sm-12">
              <h5>Products Details</h5>
            </div>
            <div class="row col-sm-12">
              <div class="col-sm-4">
                <img
                  src="{{negotiation?.post.primaryImage}}"
                  style="width: 80px;height: 80px">
              </div>
              <div class="col-sm-8" style="border: 1px solid #E6E7EB">
                {{negotiation?.post.postTitle}}
              </div>
            </div>
            <div class="row col-sm-12" style="padding-top: 10px">
              <div class="col-sm-4">
                <label><span class="star">*</span>Quantity: </label>
              </div>
              <div class="col-sm-5">
                <input disabled name="quantity" required type="text" ngModel="{{negotiation?.quantity}}"
                       class="form-control" value="{{negotiation?.quantity}}">
              </div>
              <div class="col-sm-3">
                <label>{{negotiation?.post.unit}}</label>
              </div>
            </div>
            <div class="row col-sm-12" style="padding-top: 10px">
              <div class="col-sm-4">
                <label><span class="star">*</span>Unit Price: </label>
              </div>
              <div class="col-sm-5">
                <input disabled type="text" name="offerPrice" required ngModel="{{negotiation?.offerPrice}}"
                       class="form-control" value="{{negotiation?.offerPrice}}">
              </div>
              <div class="col-sm-3">
                <label> VND /piece</label>
              </div>
            </div>
          </div>
          <div class="card-footer text-right">
            Product(s) Amount: <b>{{productAmount}} VND</b>
          </div>
        </div>

        <div class="card" style="margin: 20px;">
          <div class="card-body">
            <div class="row col-sm-12">
              <h5>Shipping</h5>
            </div>
            <div class="row col-sm-12" style="padding-top: 10px;">
              <label class="col-sm-5">Shipping Method</label>
              <div class="col-sm-7">
                <input name="shipMethod" required class="form-control"
                       value="{{negotiation?.ship.shipName}}" disabled ngModel="{{negotiation?.ship.shipName}}">
              </div>
              <!--<div *ngIf="negotiation?.postShip==null" class="col-sm-7">
                <input *ngIf="negotiation?.postShip==null" disabled type="text" name="offerPrice" required ngModel
                       class="form-control">
              </div>-->
            </div>
            <div class="row col-sm-12" style="padding-top: 10px">
              <label class="col-sm-5">Shipping Fee</label>
              <div class="col-sm-7">
                <input name="feeShip" required class="form-control"
                       value="{{negotiation?.shipPrice}}" disabled ngModel="{{negotiation?.shipPrice}}">
              </div>
            </div>
            <div class="row col-sm-12" style="padding-top: 10px;  padding-right: 0px">
              <label class="col-sm-5">Shipment Date:</label>
              <div class="col-sm-7" style="padding: 0px; font-size: 14px">
                Ship <input name="shippingTime" ngModel="{{negotiation?.shippingTime}}" type="number" required
                            value="{{negotiation?.shippingTime}}" disabled
                            style="width: 50px"> day(s) after
                payment.

                <!--<div class="form-check">
                  <label class="form-check-label" style="font-size: 13px">
                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1"
                           checked>
                    Ship on specific day
                    <my-date-picker name="mydate" [options]="myDatePickerOptions"
                                    [(ngModel)]="model" required></my-date-picker>
                  </label>
                </div>
                <div class="form-check">
                  <label class="form-check-label" style="font-size: 13px">
                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                    Ship <input type="number" style="width: 50px"> day(s) after payment.
                  </label>
                </div>-->
              </div>
            </div>
            <div class="row col-sm-12" style="padding-top: 10px">
              <label class="col-sm-5" style="padding: 0px;">Shipping Address</label>
              <div *ngIf="negotiation?.address!=null" class="col-sm-7"
                   style="padding:5px; border: 1px solid #E6E7EB; font-size: 14px; background-color: #e9ecef">
                <p>{{negotiation?.address.address}}</p>
              </div>
            </div>
          </div>
        </div>


        <div class="card" style="margin: 20px; font-size: 15px">
          <div class="card-body">
            <div class="row col-sm-12">
              <h5>Payment details</h5>
            </div>
            <div class="row col-sm-12" style="padding-top: 10px; font-size: 15px">
              <label class="col-sm-6" style="padding: 0px;">Available payment method.</label>
              <label class="col-sm-6" style="padding: 0px;">{{negotiation?.post.supplier.bank}}</label>
            </div>
            <div class="row col-sm-12" style="padding-top: 10px; font-size: 15px">
              <label class="col-sm-6" style="padding: 0px;">Total order amount</label>
              <label class="col-sm-6" style="padding: 0px;">{{totalAmount}} VND</label>
            </div>
          </div>
        </div>


        <div class="card" style="margin: 20px;">
          <div class="card-body">
            <div class="row col-sm-12">
              <h5>Order Remark<span class="star">*</span></h5>
            </div>
            <div class="row col-sm-12">
            <textarea class="form-control" name="remark" rows="5"
                      value="{{negotiation?.remark}}" disabled
                      ngModel="{{negotiation?.remark}}" #remark="ngModel" required>
            </textarea>
            </div>
          </div>
        </div>

        <!--<div class="row text-center justify-content-center">
          <label class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">I have read and agree .....</span>
          </label>
        </div>-->

        <div class="row text-right justify-content-end" style="margin-right: 50px">
          Total Order Amount: <h5 style="color: orangered">{{totalAmount}} VND</h5>
        </div>

        <div *ngIf="negotiation?.status.statusName=='NEGOTIATING'" class="row text-right justify-content-end"
             style="margin-right: 50px; margin-bottom: 20px">
          <button style="margin-right: 10px" type="button" class="btn btn-success"
                  [disabled]="negotiation?.quantity==null || negotiation?.shippingTime==null
                  || negotiation?.address==null || negotiation?.ship==null
                  || negotiation?.offerPrice==null || negotiation?.shipPrice==null
                  || negotiation?.remark==null"
                  (click)="payNegoOrder()">
            <i class="fa fa-check" aria-hidden="true"></i>
            Payment
          </button>
          <button type="button" class="btn btn-danger"
                  (click)="cancelOrder()">
            <i class="fa fa-times" aria-hidden="true"></i>
            Cancel
          </button>
        </div>

      </form>
    </div>


    <div *ngIf="negotiation?.checked==false" class="col-sm-4"
         style="padding: 0px; border-left: 1px solid #E6E7EB; overflow: auto; font-size: 15px">
      <form #createNegoOrder="ngForm">
        <div class="card" style="margin: 20px;">
          <div class="card-body">
            <div class="row col-sm-12">
              <h5>Products Details</h5>
            </div>
            <div class="row col-sm-12">
              <div class="col-sm-4">
                <img
                  src="{{negotiation?.post.primaryImage}}"
                  style="width: 80px;height: 80px">
              </div>
              <div class="col-sm-8" style="border: 1px solid #E6E7EB">
                {{negotiation?.post.postTitle}}
              </div>
            </div>
            <div class="row col-sm-12" style="padding-top: 10px">
              <div class="col-sm-4">
                <label><span class="star">*</span>Quantity: </label>
              </div>
              <div class="col-sm-5">
                <input name="quantity"
                       (change)="countAmount(createNegoOrder.value.quantity, createNegoOrder.value.offerPrice, createNegoOrder.value.feeShip)"
                       ngModel="{{negotiation?.quantity}}" [min]="negotiation?.post.minOrderQuantity"
                       type="number" #quantity="ngModel" required
                       class="form-control" value="{{negotiation?.quantity}}">

              </div>
              <div class="col-sm-3">
                <label>{{negotiation?.post.unit}}</label>
              </div>
              <div *ngIf="quantity.invalid && (quantity.dirty || quantity.touched)"
                   class="error">
                <div *ngIf="quantity.errors.required">
                  Quantity is required and must be a number.
                </div>
                <div *ngIf="quantity.errors?.min">
                  Quantity must be ≥ {{negotiation?.post.minOrderQuantity}}
                </div>
              </div>
            </div>
            <div class="row col-sm-12" style="padding-top: 10px">
              <div class="col-sm-4">
                <label><span class="star">*</span>Unit Price: </label>
              </div>
              <div class="col-sm-5">
                <input type="number" name="offerPrice"
                       (change)="countAmount(createNegoOrder.value.quantity, createNegoOrder.value.offerPrice, createNegoOrder.value.feeShip)"
                       ngModel="{{negotiation?.offerPrice}}" #offerPrice="ngModel" required
                       class="form-control" value="{{negotiation?.offerPrice}}" [min]="0"
                       [max]="negotiation?.post.maxPrice">
              </div>
              <div class="col-sm-3">
                <label> VND /piece</label>
              </div>
              <div *ngIf="offerPrice.invalid && (offerPrice.dirty || offerPrice.touched)"
                   class="error">
                <div *ngIf="offerPrice.errors.required">
                  Offer Price is required and must be a number.
                </div>
                <div *ngIf="offerPrice.errors?.min">
                  Offer Price must be ≥ 0
                </div>
                <div *ngIf="offerPrice.errors?.max">
                  Offer Price must be ≤ {{negotiation?.post.maxPrice}}
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer text-right">
            Product(s) Amount: <b>{{productAmount}} VND</b>
          </div>
        </div>

        <div class="card" style="margin: 20px;">
          <div class="card-body">
            <div class="row col-sm-12">
              <h5>Shipping</h5>
            </div>

            <div *ngIf="negotiation?.ship!=null" class="row col-sm-12" style="padding-top: 10px;">
              <label class="col-sm-5" style="padding: 0px;">Shipping Method</label>
              <div class="col-sm-7" style="padding:5px; border: 1px solid #E6E7EB; font-size: 14px">
                <p id="editShippingMethod">{{negotiation?.ship.shipName}}</p> <a href="" data-toggle="modal"
                                                                                 data-target="#editShipMethod">
                Edit</a>
              </div>
            </div>

            <div *ngIf="negotiation?.ship==null" class="row col-sm-12" style="padding-top: 10px;">
              <label class="col-sm-5" style="padding: 0px;">Shipping Method</label>
              <select class="col-sm-7 form-control" name="postShip" ngModel>
                <option *ngFor="let postShip of negotiation?.post.postShips"
                        value="{{postShip.postShipID.ship.shipID}}">
                  {{postShip.postShipID.ship.shipName}}
                </option>
              </select>
            </div>
            <div class="row col-sm-12 align-items-center" style="padding-top: 10px">
              <label class="col-sm-5" style="padding: 0px;">Shipping Fee</label>
              <input type="number" name="feeShip" ngModel="{{negotiation?.shipPrice}}"
                     (change)="countAmount(createNegoOrder.value.quantity, createNegoOrder.value.offerPrice, createNegoOrder.value.feeShip)"
                     class="col-sm-5 form-control" #feeShip="ngModel" required [min]="0"
                     value="{{negotiation?.shipPrice}}">
              <label class="col-sm-2"> VND </label>
              <div *ngIf="feeShip.invalid && (feeShip.dirty || feeShip.touched)"
                   class="error">
                <div *ngIf="feeShip.errors.required">
                  Fee Ship is required and must be a number.
                </div>
                <div *ngIf="feeShip.errors?.min">
                  Fee Ship must be ≥ 0
                </div>
              </div>
            </div>
            <div class="row col-sm-12" style="padding-top: 10px;  padding-right: 0px">
              <label class="col-sm-5" style="padding: 0px;">Shipment Date:</label>
              <div class="col-sm-7" style="padding: 0px; font-size: 14px">
                Ship <input type="number" name="shippingTime" value="{{negotiation?.shippingTime}}"
                            ngModel="{{negotiation?.shippingTime}}" style="width: 50px"
                            #shippingTime="ngModel" required
                            [min]="0"> day(s) after
                payment.
                <!--<div class="form-check">
                  <label class="form-check-label" style="font-size: 13px">
                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1"
                           checked>
                    Ship on specific day
                    <my-date-picker name="mydate" [options]="myDatePickerOptions"
                                    [(ngModel)]="model" required></my-date-picker>
                  </label>
                </div>
                <div class="form-check">
                  <label class="form-check-label" style="font-size: 13px">
                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                    Ship <input type="number" style="width: 50px"> day(s) after payment.
                  </label>
                </div>-->
              </div>
              <div *ngIf="shippingTime.invalid && (shippingTime.dirty || shippingTime.touched)"
                   class="error">
                <div *ngIf="shippingTime.errors.required">
                  Offer Price is required and must be a number.
                </div>
                <div *ngIf="shippingTime.errors?.min">
                  Offer Price must be ≥ 0
                </div>
              </div>
            </div>

            <div *ngIf="negotiation?.address!=null" class="row col-sm-12" style="padding-top: 10px">
              <label class="col-sm-5" style="padding: 0px;">Shipping Address</label>
              <div class="col-sm-7" style="padding:5px; border: 1px solid #E6E7EB; font-size: 14px">
                <p id="editAddress">{{negotiation?.address.address}}</p> <a href="" data-toggle="modal"
                                                                            data-target="#addressModel"> Edit</a>
              </div>
            </div>

            <div *ngIf="negotiation?.address==null" class="row col-sm-12" style="padding-top: 10px">
              <label class="col-sm-4" style="padding: 0px;">Shipping Address</label>
              <div class="col-sm-8" style="padding: 0px; font-size: 14px">
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="address" value="oldAddress" ngModel
                           (click)="checkAddress($event, createNegoOrder)">
                    Existed Address
                    <select class="form-control" name="oldAddressName" ngModel
                            [disabled]="setDisabledOld">
                      <option *ngFor="let address of addresses" value="{{address.address}}">{{address.address}}
                      </option>
                    </select>
                  </label>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="address" value="newAddress" ngModel
                           (click)="checkAddress($event, createNegoOrder)">
                    New Address

                    <div class="form-group form-inline">
                      <label class="col-sm-4">City</label>
                      <select style="width: 149px;" class="form-control col-sm-8"
                              (change)="chooseCity($event.target.value)"
                              name="newAddressCity" ngModel
                              [disabled]="setDisabledNew">
                        <option *ngFor="let city of cities" value="{{city.ID}}">{{city.Title}}</option>
                      </select>
                    </div>
                    <div class="form-group form-inline">
                      <label class="col-sm-4">District</label>
                      <select style="width: 149px;" class="form-control col-sm-8"
                              (change)="chooseDistrict($event.target.value)"
                              name="newAddressDistrict" ngModel
                              [disabled]="setDisabledNew">
                        <option selected>Choose district...</option>
                        <option *ngFor="let district of districts" value="{{district.ID}}">
                          {{district.Title}}
                        </option>
                      </select>
                    </div>
                    <div class="form-group form-inline">
                      <label class="col-sm-4">Ward</label>
                      <select style="width: 149px;" class="form-control col-sm-8"
                              (change)="chooseWard($event.target.value)"
                              name="newAddressWard" ngModel
                              [disabled]="setDisabledNew">
                        <option selected>Choose ward...</option>
                        <option *ngFor="let ward of wards" value="{{ward.ID}}">{{ward.Title}}</option>
                      </select>
                    </div>
                    <div class="form-group form-inline">
                      <label class="col-sm-4">Address </label>
                      <input type="text" class="form-control col-sm-8" placeholder="Enter address"
                             name="newAddressValue"
                             ngModel [disabled]="setDisabledNew">
                    </div>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="card" style="margin: 20px; font-size: 15px">
          <div class="card-body">
            <div class="row col-sm-12">
              <h5>Payment details</h5>
            </div>
            <div class="row col-sm-12" style="padding-top: 10px; font-size: 15px">
              <label class="col-sm-6" style="padding: 0px;">Available payment method.</label>
              <label class="col-sm-6" style="padding: 0px;">{{negotiation?.post.supplier.bank}}</label>
            </div>
            <div class="row col-sm-12" style="padding-top: 10px; font-size: 15px">
              <label class="col-sm-6" style="padding: 0px;">Total order amount</label>
              <label class="col-sm-6" style="padding: 0px;">{{totalAmount}} VND</label>
            </div>
          </div>
        </div>


        <div class="card" style="margin: 20px;">
          <div class="card-body">
            <div class="row col-sm-12">
              <h5>Order Remark<span class="star">*</span></h5>
            </div>
            <div class="row col-sm-12">
            <textarea class="form-control" name="remark" rows="5"
                      placeholder="Please add additional detailed product information to make it easier for the supplier to understand your exact requirements..."
                      ngModel="{{negotiation?.remark}}" #remark="ngModel" required>
            </textarea>
              <div *ngIf="remark.invalid && (remark.dirty || remark.touched)"
                   class="error">
                <div *ngIf="remark.errors.required">
                  Remark is required and must be a number.
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--<div class="row text-center justify-content-center">
          <label class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">I have read and agree .....</span>
          </label>
        </div>-->

        <div class="row text-right justify-content-end" style="margin-right: 50px">
          Total Order Amount: <h5 style="color: orangered">{{totalAmount}} VND</h5>
        </div>


        <div class="row text-right justify-content-end" style="margin-right: 50px; margin-bottom: 20px">

          <button style="margin-right: 10px" type="button" class="btn btn-success"
                  [disabled]="createNegoOrder.invalid || (createNegoOrder.value.address=='' && negotiation?.address==null) ||
                  (createNegoOrder.value.postShip=='' && negotiation?.ship==null) ||
                  (createNegoOrder.value.address=='oldAddress' && createNegoOrder.value.oldAddressName=='') ||
                  (createNegoOrder.value.address=='newAddress' && (createNegoOrder.value.newAddressCity=='' ||
                  createNegoOrder.value.newAddressDistrict=='' || createNegoOrder.value.newAddressWard=='' ||
                  createNegoOrder.value.newAddressValue==''))"
                  (click)="updateNego(createNegoOrder.value)">
            <i class="fa fa-check" aria-hidden="true"></i>
            OK
          </button>
          <button type="button" class="btn btn-danger"
                  (click)="cancelOrder()">
            <i class="fa fa-times" aria-hidden="true"></i>
            Cancel
          </button>

        </div>


      </form>
    </div>


  </div>
</div>


<!--Address Modal-->
<div class="modal fade" id="addressModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Address</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #editAddressForm="ngForm">
          <div class="row col-sm-12" style="padding-top: 10px">
            <div class="col-sm-12" style="padding: 0px; font-size: 14px">
              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="editAddress" value="oldAddress" ngModel>
                  Existed Address
                  <select class="form-control" name="oldAddressEdit" ngModel>
                    <option selected>My address</option>
                    <option *ngFor="let address of addresses" value="{{address.address}}">{{address.address}}
                    </option>
                  </select>
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="editAddress" value="newAddress" ngModel>
                  New Address

                  <div class="form-group form-inline">
                    <label class="col-sm-4">City</label>
                    <select style="width: 149px;" class="form-control col-sm-8"
                            (change)="chooseCity($event.target.value)">
                      <option selected>Choose city...</option>
                      <option *ngFor="let city of cities" value="{{city.ID}}">{{city.Title}}</option>
                    </select>
                  </div>
                  <div class="form-group form-inline">
                    <label class="col-sm-4">District</label>
                    <select style="width: 149px;" class="form-control col-sm-8"
                            (change)="chooseDistrict($event.target.value)">
                      <option selected>Choose district...</option>
                      <option *ngFor="let district of districts" value="{{district.ID}}">
                        {{district.Title}}
                      </option>
                    </select>
                  </div>
                  <div class="form-group form-inline">
                    <label class="col-sm-4">Ward</label>
                    <select style="width: 149px;" class="form-control col-sm-8"
                            (change)="chooseWard($event.target.value)">
                      <option selected>Choose ward...</option>
                      <option *ngFor="let ward of wards" value="{{ward.ID}}">{{ward.Title}}</option>
                    </select>
                  </div>
                  <div class="form-group form-inline">
                    <label class="col-sm-4">Address </label>
                    <input type="text" class="form-control col-sm-8" placeholder="Enter address"
                           name="newAddressEdit"
                           ngModel>
                  </div>
                </label>
              </div>
            </div>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-info" (click)="saveAddress(editAddressForm.value)">
          <i class="fa fa-check" aria-hidden="true"></i>
          Save
        </button>
      </div>
    </div>
  </div>
</div>


<!--ShipMethod Modal-->
<div class="modal fade" id="editShipMethod" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Shipping Method</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #editPostShipForm="ngForm">
          <div class="row col-sm-12" style="padding-top: 10px;">
            <select class="col-sm-12 form-control" name="editPostShip" ngModel #editPostShip="ngModel" required>
              <option *ngFor="let postShip of negotiation?.post.postShips" value="{{postShip.postShipID.ship.shipID}}">
                {{postShip.postShipID.ship.shipName}}
              </option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="changePostShip(editPostShipForm.value)">Save</button>
      </div>
    </div>
  </div>
</div>
