<div class="container" style="margin-top: 20px; margin-bottom: 20px">
  <nav class="nav nav-pills nav-fill">
    <a class="nav-item nav-link active"><strong>Negotiate With Supplier</strong></a>
    <a class="nav-item nav-link"><strong><i class="fa fa-chevron-right" aria-hidden="true"></i></strong></a>
    <a class="nav-item nav-link"><strong>Payment</strong></a>
    <a class="nav-item nav-link"><strong><i class="fa fa-chevron-right" aria-hidden="true"></i></strong></a>
    <a class="nav-item nav-link"><strong>Shipment</strong></a>
    <a class="nav-item nav-link"><strong><i class="fa fa-chevron-right" aria-hidden="true"></i></strong></a>
    <a class="nav-item nav-link"><strong>Success</strong></a>
  </nav>
</div>
<div class="container-fluid" style="margin-right: auto">
  <div class="row">
    <div class="col-8">

      <!--Header-->
      <div class="row header-wrap">
        <div class="chat-header col-sm-12">
          <div class="row" style="margin-top: 10px">
            <div class="col-1">
              <img src="../../../../assets/img/fb.jpg" height="50" width="50"/>
            </div>
            <div class="col-4" style="margin-top: 10px">
              <label>Supplier Name</label>
            </div>
            <div class="col-4" style="margin-top: 10px">
              <label>Company Name</label>
            </div>
          </div>
          <div class="offset-11">
            <button class="btn btn-link" data-toggle="collapse"
                    data-parent="#accordion"
                    data-target="#collapse1" ngModel aria-expanded="true">Show more
            </button>
          </div>
          <div id="collapse1" class="panel-collapse collapse">
            <div class="panel-body">
              <div class="row">
                <div class="col-sm-10">
                  <div class="form-group">
                    <div class="row">
                      <div class="col-3">
                        <h5>Basic information</h5>
                      </div>
                      <div class="col-4 offset-5">
                        <h5>Contact Information</h5>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-2">
                        <label>Country:</label>
                      </div>
                      <div class="col-6" style="text-align: left">
                        <label>Viet Nam</label>
                      </div>
                      <div class="col-2">
                        <label>Tel:</label>
                      </div>
                      <div class="col-2">
                        <label>0934924922</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--Messages-->
      <div class="row content-wrap messages">
        <div class="msg">
          <div class="media-body">
            <small class="pull-right time"><i class="fa fa-clock-o"></i> 12:10am</small>

            <h5 class="media-heading">Walter White</h5>
            <small class="col-sm-11">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu pulvinar magna.
              Phasellus semper scelerisque purus, et semper nisl lacinia sit amet. Praesent venenatis turpis vitae purus
              semper, eget sagittis velit venenatis. Class aptent taciti sociosqu ad litora torquent per conubia nostra,
              per inceptos himenaeos...
            </small>
          </div>
        </div>
        <div class="msg">
          <div class="media-body">
            <small class="pull-right time"><i class="fa fa-clock-o"></i> 12:10am</small>

            <h5 class="media-heading">Walter White</h5>
            <small class="col-sm-11">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu pulvinar magna.
              Phasellus semper scelerisque purus, et semper nisl lacinia sit amet. Praesent venenatis turpis vitae purus
              semper, eget sagittis velit venenatis. Class aptent taciti sociosqu ad litora torquent per conubia nostra,
              per inceptos himenaeos...
            </small>
          </div>
        </div>
        <div class="msg">
          <div class="media-body">
            <small class="pull-right time"><i class="fa fa-clock-o"></i> 12:10am</small>

            <h5 class="media-heading">Walter White</h5>
            <small class="col-sm-11">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu pulvinar magna.
              Phasellus semper scelerisque purus, et semper nisl lacinia sit amet. Praesent venenatis turpis vitae purus
              semper, eget sagittis velit venenatis. Class aptent taciti sociosqu ad litora torquent per conubia nostra,
              per inceptos himenaeos...
            </small>
          </div>
        </div>
        <div class="msg">
          <div class="media-body">
            <small class="pull-right time"><i class="fa fa-clock-o"></i> 12:10am</small>

            <h5 class="media-heading">Walter White</h5>
            <small class="col-sm-11">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu pulvinar magna.
              Phasellus semper scelerisque purus, et semper nisl lacinia sit amet. Praesent venenatis turpis vitae purus
              semper, eget sagittis velit venenatis. Class aptent taciti sociosqu ad litora torquent per conubia nostra,
              per inceptos himenaeos...
            </small>
          </div>
        </div>
        <div class="msg">
          <div class="media-body">
            <small class="pull-right time"><i class="fa fa-clock-o"></i> 12:10am</small>

            <h5 class="media-heading">Walter White</h5>
            <small class="col-sm-11">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu pulvinar magna.
              Phasellus semper scelerisque purus, et semper nisl lacinia sit amet. Praesent venenatis turpis vitae purus
              semper, eget sagittis velit venenatis. Class aptent taciti sociosqu ad litora torquent per conubia nostra,
              per inceptos himenaeos...
            </small>
          </div>
        </div>
        <div class="msg">
          <div class="media-body">
            <small class="pull-right time"><i class="fa fa-clock-o"></i> 12:10am</small>

            <h5 class="media-heading">Walter White</h5>
            <small class="col-sm-11">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu pulvinar magna.
              Phasellus semper scelerisque purus, et semper nisl lacinia sit amet. Praesent venenatis turpis vitae purus
              semper, eget sagittis velit venenatis. Class aptent taciti sociosqu ad litora torquent per conubia nostra,
              per inceptos himenaeos...
            </small>
          </div>
        </div>
        <div class="msg">
          <div class="media-body">
            <small class="pull-right time"><i class="fa fa-clock-o"></i> 12:10am</small>

            <h5 class="media-heading">Walter White</h5>
            <small class="col-sm-11">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu pulvinar magna.
              Phasellus semper scelerisque purus, et semper nisl lacinia sit amet. Praesent venenatis turpis vitae purus
              semper, eget sagittis velit venenatis. Class aptent taciti sociosqu ad litora torquent per conubia nostra,
              per inceptos himenaeos...
            </small>
          </div>
        </div>
      </div>

      <!--Message box & Send Button-->
      <div class="row send-wrap">
        <div class="send-message">
          <div class="message-text">
            <textarea class="no-resize-bar form-control" rows="2" placeholder="Write a message..."></textarea>
          </div>
          <div class="send-button">
            <a class="btn">Send <i class="fa fa-send"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="container">
        <div class="row">
          <div class="card container-fluid" style="background: white">
            <div class="card-content justify-content-sm-center"
                 style="padding-top: 20px; padding-bottom: 20px; padding-left: 20px; padding-right: 20px">
              <h5 id="product">Product Details</h5>
              <div class="form-group row">
                <div class="col-4">
                  <img class="img-thumbnail" src="../../../../assets/img/laptop-512.png" height="150" width="150"/>
                </div>
                <div class="col-sm-3 col-form-label text-right">
                  <div>
                    <label>
                      Quantity:
                    </label>
                  </div>
                  <div>
                    <label style="padding-top: 25px">
                      Unit Price:
                    </label>
                  </div>
                </div>
                <div class="col-sm-5">
                  <div>
                    <input type="text" class="form-control" name="Quantity" ngModel>
                  </div>
                  <div style="padding-top: 20px">
                    <input type="text" class="form-control" name="UnitPrice" ngModel>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row justify-content-center">
                  <label style="text-align: right">
                    Total Price:
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" style="padding-top: 10px">
          <div class="card container-fluid" style="background: white">
            <div class="card-content justify-content-sm-center"
                 style="padding-top: 20px; padding-bottom: 20px; padding-left: 20px; padding-right: 20px">
              <h5>Shipping</h5>
              <div class="form-group row" style="padding-top: 10px">
                <div class="col-sm-4 col-form-label text-right">
                  <div>
                    <label>
                      Shipping Method:
                    </label>
                  </div>
                  <div>
                    <label style="padding-top: 25px">
                      Shipping Address:
                    </label>
                  </div>
                </div>
                <div class="col-sm-8">
                  <div>
                    <select class="form-control" name="ShipMethod">

                    </select>
                  </div>
                  <div class="bs-example" style="padding-top: 20px">
                    <div class="panel-group" style="padding-top: 5px">
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <input type="radio" name="groupRatio1" value="on" data-toggle="collapse"
                                 data-parent="#accordion"
                                 data-target="#collapse2" ngModel aria-expanded="true" #ratio1="ngModel">
                          Old Address
                        </div>
                        <div id="collapse2" class="panel-collapse collapse">
                          <div class="panel-body">
                            <div class="row">
                              <div class="col-sm-10">
                                <div class="form-group">
                                  <select class="form-control col-9" name="ShipAddress" ngModel>
                                    <!--<option *ngFor="let time of times"
                                            value="{{time}}">{{time}}
                                    </option>-->
                                  </select>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="panel panel-default">
                        <div class="panel-heading" style="margin-top: 10px">
                          <input type="radio" name="groupRatio1" value="Address" data-toggle="collapse"
                                 data-parent="#accordion"
                                 data-target="#collapse3" ngModel>
                          New Address
                        </div>
                        <div id="collapse3" class="panel-collapse collapse">
                          <div class="panel-body">
                            <div class="row">
                              <div class="col-sm-10">
                                <div class="form-group">
                                  <textarea type="text" class="form-control" name="ShipAdress" ngModel></textarea>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row justify-content-center">
                  <label style="padding-top: 30px; text-align: right">
                    Shipping Fee:
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" style="padding-top: 10px">
          <div class="card container-fluid" style="background: white">
            <div class="card-content justify-content-sm-center"
                 style="padding-top: 20px; padding-bottom: 20px; padding-left: 20px; padding-right: 20px">
              <h5>Payment Details</h5>
              <div class="form-group row" style="padding-top: 10px">
                <div class="col-sm-4 col-form-label text-right">
                  <div>
                    <label>
                      Balance Payment:
                    </label>
                  </div>
                  <div>
                    <label style="padding-top: 25px">
                      Payments Methods:
                    </label>
                  </div>
                </div>
                <div class="col-sm-8">
                  <div>
                    <label style="padding-top: 7px">Price here</label>
                  </div>
                  <div>
                    <img style="margin-top: 10px" src="../../../../assets/img/pp258.png" height="50" width="50"/>
                  </div>
                  <div class="bs-example" style="padding-top: 20px">
                    <div class="panel-group" style="padding-top: 5px">
                    </div>
                  </div>
                </div>
              </div>
              <div class="offset-2">
                <button class="btn btn-link" href="">
                  Learn more about processing fee and funds arrival time
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="row" style="padding-top: 10px">
          <div class="card container-fluid" style="background: white">
            <div class="card-content "
                 style="padding-top: 20px; padding-bottom: 20px; padding-left: 20px; padding-right: 20px">
              <h5>Additional remarks</h5>
              <div class="form-group row" style="padding-top: 10px">
                <textarea id="textArea2" class="form-control" name="AdditionalRemark"></textarea>
              </div>
              <div class="row justify-content-start" style="margin-top: 20px">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input" value="">
                  I have read and agree to abide by the
                  <a href="">Trade Assurance terms.</a>
                </label>
              </div>
              <div class="row">
                <div class="col-7">
                  <div style="text-align: right; margin-top: 30px">
                    <label>Products Amount:</label>
                  </div>
                </div>
                <div class="col-5" style="margin-top: 30px">
                  <label>Gia san pham here</label>
                </div>
              </div>
              <div class="row">
                <div class="col-7">
                  <div class="offset-4" style="text-align: right; margin-top: 20px">
                    <label>Total Order Amount:</label>
                  </div>
                </div>
                <div class="col-5" style="margin-top: 20px">
                  <label>Gia sp + ship</label>
                </div>
              </div>
              <div class="row">
                <div style="margin-left: 2px; margin-top: 20px">
                  <input type="submit" value="Submit" class="btn btn-success">
                </div>
                <div class="offset-8" style="margin-top: 20px">
                  <input type="submit" value="Payment" class="btn btn-success" disabled>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
