<form #createDealOrderForm="ngForm">
  <div class="container" style="margin-top: 20px; margin-bottom: 20px">
    <div class="col-md-12">
      <div class="card" style="background: white">
        <div class="card-content"
             style="padding-top: 20px; padding-bottom: 20px; padding-left: 20px; padding-right: 20px">
          <div class="row col-sm-12">
            <h4>Products Details</h4>
          </div>
          <div class="row col-sm-12">
            <div class="col-sm-7 text-left">
              <b>Supplier {{deal?.supplier.companyName}}</b>
            </div>
            <div class="col-sm-5 text-right">
              <div class="float-right">
                <a data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                  Show supplier's details <i class="fa fa-angle-down" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="collapse" id="collapseExample">
              <div style="margin: 10px">
                <img src="{{deal?.supplier.companyLogo}}" style="max-height: 100px; height: auto; margin-left: 40px">
                <div class="clearfix"></div>
                <label class="col-sm-2 text-right"> Company Name </label>
                <label class="col-sm-7"> {{deal?.supplier.companyName}} </label>
                <div class="clearfix"></div>
                <label class="col-sm-2 text-right"> Contact Name </label>
                <label class="col-sm-7"> {{deal?.supplier.username}} </label>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
          <div class="row col-sm-12">
            <table class="table" style="border: none">
              <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Deal Title</th>
                <th scope="col"> Quantity <span class="star">*</span></th>
                <th scope="col"> Unit</th>
                <th scope="col"> Price (VND/unit)</th>
              </tr>
              </thead>
              <tbody>
              <tr class="align-items-center">
                <td scope="row" style="width:100px">
                  <img src="{{deal?.dealImage}}" style="max-width: 80px;height: auto">
                </td>
                <td>
                  <div class="row col-sm-12">{{deal?.dealTitle}}</div>

                  <div class="row col-sm-12">{{deal?.product.productName}}</div>
                </td>
                <td style="padding-right: 0px; padding-left: 0px; width: 255px">
                  <div class="form-group">
                    <input style="width: 110px" type="number" class="form-control" [min]="1"
                           [max]="deal?.maxOrderQuantity"
                           placeholder="Max: {{deal?.maxOrderQuantity}}" name="quantity" ngModel
                           (change)="countAmount(createDealOrderForm.value)"
                           (keyup)="countAmount(createDealOrderForm.value)" #quantity="ngModel" required>
                    <div *ngIf="quantity.invalid && (quantity.dirty || quantity.touched)"
                         class="error" style="padding:0px; font-size:13px">
                      <div *ngIf="quantity.errors.required">
                        Quantity is required and must be a number.
                      </div>
                      <div *ngIf="quantity.errors?.min">
                        Quantity must be ≥ 1
                      </div>
                      <div *ngIf="quantity.errors?.max">
                        Quantity must be ≤ {{deal?.maxOrderQuantity}}
                      </div>
                    </div>
                  </div>
                </td>
                <td scope="row">
                  <label>{{deal?.unit}}</label>
                </td>
                <td style="padding-right: 0px; padding-left: 0px; width: 265px">
                  <div>
                    <b class="text-primary" style="text-decoration: line-through;margin: 0px; margin-left: 5px">{{deal?.firstPrice}}VND</b>
                    => <b
                    class="text-success"> {{deal?.discountPrice}} VND</b>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>

          </div>
        </div>
        <div class="card-footer text-right">
          Product(s) Amount: <b>{{productAmount}} VND</b>
        </div>
      </div>
    </div>
  </div>

  <div class="container" style="margin-top: 20px; margin-bottom: 20px">
    <div class="col-md-12">
      <div class="card" style="background: white">
        <div class="card-content"
             style="padding-top: 20px; padding-bottom: 20px; padding-left: 20px; padding-right: 20px">
          <div class="row col-sm-12">
            <h4>Shipping Details</h4>
          </div>
          <div class="row col-sm-12" style="margin: 10px">
            <label class="col-sm-3 text-right"> Shipping Address <span class="star">*</span> </label>
            <label class="col-sm-9">
              <p>{{user.username}} {{user.phone}}</p>
              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="address" value="oldAddress" ngModel
                         (click)="checkAddress($event, createDealOrderForm)">
                  Existed Address
                </label>
              </div>
              <select class="form-control col-sm-6" name="oldAddressName"
                      [disabled]="setDisabledOld"
                      ngModel>
                <option *ngFor="let address of addresses" value="{{address.address}}">{{address.address}}</option>
              </select>
              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="address" value="newAddress" ngModel
                         (click)="checkAddress($event, createDealOrderForm)">
                  New Address
                </label>
              </div>
              <div class="form-group form-inline">
                <label class="col-sm-2">City</label>
                <select class="form-control col-sm-4" (change)="chooseCity($event.target.value)"
                        [disabled]="setDisabledNew"
                        name="newAddressCity" ngModel>
                  <option *ngFor="let city of cities" value="{{city.ID}}">{{city.Title}}</option>
                </select>
              </div>
              <div class="form-group form-inline">
                <label class="col-sm-2">District</label>
                <select class="form-control col-sm-4" (change)="chooseDistrict($event.target.value)"
                        [disabled]="setDisabledNew"
                        name="newAddressDistrict" ngModel>
                  <option *ngFor="let district of districts" value="{{district.ID}}">
                    {{district.Title}}
                  </option>
                </select>
              </div>
              <div class="form-group form-inline">
                <label class="col-sm-2">Ward</label>
                <select class="form-control col-sm-4" (change)="chooseWard($event.target.value)"
                        [disabled]="setDisabledNew"
                        name="newAddressWard" ngModel>
                  <option *ngFor="let ward of wards" value="{{ward.ID}}">{{ward.Title}}</option>
                </select>
              </div>
              <div class="form-group form-inline">
                <label class="col-sm-2">Address </label>
                <input type="text" class="form-control col-sm-4" placeholder="Enter address" name="newAddressValue"
                       [disabled]="setDisabledNew"
                       ngModel>
              </div>
            </label>
          </div>
          <div class="row col-sm-12" style="margin: 10px">
            <label class="col-sm-3 text-right">Ship Method <span class="star">*</span> </label>
            <select class="form-control col-sm-4" name="shipMethod" ngModel
                    (change)="countShippingFee(createDealOrderForm.value)">
              <option *ngFor="let dealShip of deal?.dealShips" value="{{dealShip.dealShipID.ship.shipID}}">
                {{dealShip.dealShipID.ship.shipName}}
              </option>
            </select>
            <label class="col-sm-3">Shipping Fee: {{shippingFee}} VND</label>
          </div>
        </div>
        <div class="card-footer text-right">
          Shipping Fee: <b>{{shippingFee}} VND</b>
        </div>
      </div>
    </div>
  </div>

  <div class="container" style="margin-top: 20px; margin-bottom: 20px">
    <div class="col-md-12">
      <div class="card" style="background: white">
        <div class="card-content"
             style="padding-top: 20px; padding-bottom: 20px; padding-left: 20px; padding-right: 20px">
          <div class="row col-sm-12">
            <h4>Order Remark<span class="star">*</span></h4>
          </div>
          <div class="row col-sm-12">
            <textarea class="form-control" name="remark" rows="3"
                      placeholder="Please add additional detailed product information to make it easier for the supplier to understand your exact requirements..."
                      ngModel #remark="ngModel" required>
            </textarea>
          </div>
          <div *ngIf="remark.invalid && (remark.dirty || remark.touched)"
               class="error">
            <div *ngIf="remark.errors.required">
              Remark is required.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container" style="margin-top: 20px; margin-bottom: 20px">
    <div class="col-md-12">
      <div class="card" style="background: white">
        <div class="card-content"
             style="padding-top: 20px; padding-bottom: 20px; padding-left: 20px; padding-right: 20px">
          <div class="row col-sm-12">
            <h4>Payment Details<span class="star">*</span></h4>
          </div>
          <div class="row col-sm-12 align-items-center" style="margin: 1rem">
            <label class="col-sm-3 text-right">Select bank <span class="star">*</span> </label>
            <select required class="form-control col-sm-4" name="BankList" ngModel>
              <option *ngFor="let bank of banks" value="{{bank}}">
                {{bank}}
              </option>
            </select>
          </div>
          <div class="row col-sm-12 align-items-center" style="margin: 1rem">
            <label class="col-sm-3 text-right">Cardholder's Name <span class="star">*</span> </label>
            <input required type="text" class="form-control col-sm-4" name="CardholderName" ngModel
                   #cardholder="ngModel">
          </div>
          <div  *ngIf="cardholder.invalid && (cardholder.dirty || cardholder.touched)" class="row col-sm-12 align-items-center" style="margin: 1rem">
            <label class="col-sm-3 text-right"></label>
            <div class="error" style="padding:0px; font-size:13px">
              <div *ngIf="cardholder.errors.required">
                Cardholder's Name is required.
              </div>
            </div>
          </div>
          <div class="row col-sm-12 align-items-center" style="margin: 1rem">
            <label class="col-sm-3 text-right">Card Number <span class="star">*</span> </label>
            <input required type="number" class="form-control col-sm-4" name="CardNumber" ngModel #cardNumber="ngModel">
          </div>
          <div *ngIf="cardNumber.invalid && (cardNumber.dirty || cardNumber.touched)"
               class="row col-sm-12 align-items-center" style="margin: 1rem">
            <label class="col-sm-3 text-right"></label>
            <div
              class="error" style="padding:0px; font-size:13px">
              <div *ngIf="cardNumber.errors.required">
                Card Number is required.
              </div>
            </div>
          </div>
          <div class="row col-sm-12 align-items-center" style="margin: 1rem">
            <label class="col-sm-3 text-right">Valid from <span class="star">*</span> </label>
            <select required class="form-control col-sm-2" style="margin-right: 10px" name="month" ngModel>
              <option *ngFor="let month of months" value="{{month}}">
                {{month}}
              </option>
            </select>
            <select required class="form-control col-sm-1" ngModel name="year">
              <option *ngFor="let year of years" value="{{year}}">
                {{year}}
              </option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="row col-sm-12" style="padding-bottom: 20px; font-size: 16px">
      <label class="col-sm-8 text-right">Product(s) Amount</label>
      <label class="col-sm-4"> {{productAmount}} VND</label>

      <label class="col-sm-8 text-right">Shipping Amount</label>
      <label class="col-sm-4"> {{shippingFee}} VND</label>

      <div class="col-sm-6"></div>
      <div class="col-sm-4 text-center" style="border-bottom: 1px dashed #8c8b8b"></div>
      <div class="clearfix"></div>
      <label class="col-sm-8 text-right">Total Order Amount</label>
      <label class="col-sm-4" style="color: orangered"><h5> {{productAmount + shippingFee}} VND</h5></label>
      <div class="col-sm-6"></div>
      <div class="col-sm-4 text-center">
        <button type="button" class="btn btn-secondary" (click)="backToPrevious()">Back</button>
        <button
          [disabled]="!createDealOrderForm.valid || createDealOrderForm.value.address==''"
          type="button"
          class="btn btn-info" (click)="createDealOrder(createDealOrderForm.value)"> Order
        </button>
      </div>
    </div>
  </div>

</form>

<!-- Payment Modal -->
<div class="modal fade" id="showReceiptKeyModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-success" id="exampleModalLabel">Successful transaction!</h5>
      </div>
      <div class="modal-body">
        <div class="container justify-content-center text-center">
          <h5>ORDER ID: {{orderID}}</h5>
          <div style="border: solid 1px #E6E7EB; margin: 20px; padding: 20px">
            <h4 class="text-info">{{key}}</h4>
          </div>
          <small class="form-text text-muted">
            Thank you for using our service!<br>
            Your money has been transferred successfully.<br>
            Please check your account. <br>
          </small>
          <b class="form-text text-danger">
            Use this KEY to receive your products.<br>
            You can check this KEY in Shipping Detail Order.
          </b>
        </div>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-success" data-dismiss="modal" routerLink="/buyer/order-list/shipping">OK
        </button>
      </div>
    </div>
  </div>
</div>
<button id="openReceiptKeyModalButton" [hidden]="true" data-toggle="modal" data-target="#showReceiptKeyModel">Open Modal</button>
