<form #createPost2Form="ngForm">

  <div class="main-content" style="margin-top: 10px; margin-bottom: 20px">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="card" style="background: white">
            <div class="card-content justify-content-sm-center"
                 style="padding-top: 20px; padding-bottom: 20px; padding-left: 20px; padding-right: 20px">
              <h5>Basic Information</h5>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label text-right">
                  Post Title
                  <i class="fa fa-question-circle-o" aria-hidden="true"
                     data-toggle="tooltip" data-placement="right"
                     title="Title of your post. It can be a short description of your product."></i>
                </label>
                <div class="col-sm-7">
                  <input type="text" class="form-control" value="{{postTitle}}" name="PostTitle" maxlength="254" ngModel required
                         #postTitle="ngModel">
                  <div [hidden]="postTitle.valid || postTitle.pristine" class="error">
                    Title is required!
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label text-right">
                  Product Name
                  <i class="fa fa-question-circle-o" aria-hidden="true"
                     data-toggle="tooltip" data-placement="right" title="Name of product"></i>
                </label>
                <div class="col-sm-7">
                  <input type="text" class="form-control" name="ProductName" maxlength="254" required ngModel
                         #productName="ngModel">
                  <div [hidden]="productName.valid || productName.pristine" class="error">
                    Product name is required!
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label text-right">
                  Product Photo
                  <i class="fa fa-question-circle-o" aria-hidden="true"
                     data-toggle="tooltip" data-placement="right" title="The standard of making a photo."></i>
                </label>
                <div class="col-sm-2">
                  <button onclick="document.querySelector('#photo').click()">
                    Browse
                  </button>
                  <input hidden type="file" accept="image/jpeg, image/png" multiple (change)="onChange($event)"
                         class="form-control-file" id="photo">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label text-right"></label>
                <div class="col-sm-9">
                  <label style="font-weight: normal;font-size: 14px;height: 30px;line-height: 30px;color:#999;">
                    Image file size should be less than 5MB. Supported formats: .jpeg .jpg .png.<br>
                    Recommended image size is more than 640px * 640px. Images should be clear and easy for buyers to
                    view at a glance.
                  </label>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label"></label>
                <div class="col-sm-10 row">
                  <div class="col-sm-2 text-center" *ngFor="let link of links; let i = index">
                    <img src="{{link}}"
                         height="80" width="80"
                         style="border: 1px solid #ddd; background: #f9f9f9;"/>
                    <label (click)="remove(i)">Remove</label>
                  </div>


                </div>
              </div>
              <div *ngIf="photoError==true" class="form-group row">
                <label class="col-sm-3 col-form-label"></label>
                <div class="col-sm-8">
                  <div class="alert alert-danger" role="alert" style="height:70%">
                    <small>Only allowed to upload up to 5 files.</small>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>


  <div class="main-content" style="margin-top: 20px; margin-bottom: 20px">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="card" style="background: white">
            <div class="card-content justify-content-sm-center"
                 style="padding-top: 20px; padding-bottom: 20px; padding-left: 20px; padding-right: 20px">
              <div class="row">

              </div>
              <h5>Products Details</h5>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label text-right">
                  Brand Name
                </label>
                <div class="col-sm-7">
                  <input type="text" class="form-control" name="BrandName" ngModel required #brandName="ngModel">
                  <div [hidden]="brandName.valid || brandName.pristine" class="error">
                    Brand name is required!
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label text-right">
                  Color
                </label>
                <div class="col-sm-2">
                  <select class="form-control" name="Color" ngModel>
                    <option *ngFor="let color of colors"
                            value="{{color.colorID}}">{{color.colorName}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label text-right">
                  Warranty
                </label>
                <div class="col-sm-7 form-inline">
                  <input type="text" min="0" class="form-control" name="Warranty" pattern="^[0-9]*" ngModel required
                         #warranty="ngModel">
                  <select class="form-control" name="TimeOfWaranty" ngModel>
                    <option *ngFor="let time of times"
                            value="{{time}}">{{time}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-3"></div>
                <div [hidden]="warranty.valid || warranty.pristine" class="error col-md-6">
                  Warranty is required or invalid!
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="main-content" style="margin-top: 20px; margin-bottom: 20px">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="card" style="background: white">
            <div class="card-content justify-content-sm-center"
                 style="padding-top: 20px; padding-bottom: 20px; padding-left: 20px; padding-right: 20px">
              <div class="row">

              </div>
              <h5>Trade Information</h5>

              <div class="form-group row">
                <label class="col-sm-3 col-form-label text-right">
                  Price
                </label>
                <div class="col-sm-9 form-inline">
                  <input type="text" class="form-control" name="MinPrice" placeholder="Min Price"
                         required #minPrice="ngModel" pattern="^[0-9]+(\.[0-9]{1,2})?" ngModel>
                  -
                  <input type="text" class="form-control" name="MaxPrice" placeholder="Max Price"
                         required #maxPrice="ngModel" pattern="^[0-9]+(\.[0-9]{1,2})?" ngModel> per
                  <select class="form-control" name="UnitOfPrice" ngModel>
                    <option *ngFor="let unit of units"
                            value="{{unit}}">{{unit}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label text-right"></label>
                <div class="col-sm-9">
                  <label style="font-weight: normal;font-size: 14px;height: 30px;line-height: 30px;color:#999;">
                    Please include both the amount and type of unit
                  </label>
                  <div [hidden]="minPrice.pristine || minPrice.valid" class="error">
                    Min Price is required or invalid
                  </div>
                  <div [hidden]="maxPrice.pristine || maxPrice.valid" class="error">
                    Max Price is required or invalid
                  </div>
                  <div [hidden]="(minPrice.value < maxPrice.value) || minPrice.pristine ||  maxPrice.pristine" class="error">
                    Min Price should be less than Max price
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label text-right">
                  Min. Order Quantity
                </label>
                <div class="col-sm-3">
                  <input type="text" class="form-control" name="MinOrderQuantity" pattern="^[0-9]+" ngModel required #minOrderQuantity="ngModel">
                </div>
                / Select Unit
              </div>
              <div class="row">
                <div class="col-sm-3"></div>
                <div [hidden]="minOrderQuantity.valid || minOrderQuantity.pristine" class="error col-md-6">
                  Quantity is required or invalid!
                </div>
              </div>
              <div class="form-group row form-inline">
                <label class="col-sm-3 col-form-label text-right">
                  Fee Ship
                </label>
                <div class="col-sm-3" *ngFor="let feeShip of feeShips">
                  <input type="number" min="0" placeholder="{{feeShip.zoneName}}" class="form-control"
                         name="{{feeShip.zoneName}}" ngModel>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>


  <div class="main-content" style="margin-top: 20px; margin-bottom: 20px">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="card" style="background: white">
            <div class="card-content justify-content-sm-center"
                 style="padding-top: 20px; padding-bottom: 20px; padding-left: 20px; padding-right: 20px">
              <div class="row">
              </div>
              <h5>Logistics Information</h5>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label text-right">
                  Supply Ability
                </label>
                <div class="col-sm-9 form-inline">
                  <input type="text" min="0" class="form-control" name="SupplierAbility" pattern="^[0-9]+" ngModel required #supAbility="ngModel">
                  <select class="form-control" name="UnitOfTime" ngModel>
                    <option *ngFor="let unit of units"
                            value="{{unit}}">{{unit}}
                    </option>
                  </select> per
                  <select class="form-control" name="Time" ngModel>
                    <option *ngFor="let time of times"
                            value="{{time}}">{{time}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-3"></div>
                <div [hidden]="supAbility.pristine || supAbility.valid" class="error">
                  Supplier ability is required or invalid
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label text-right">
                  Max Order
                </label>
                <div class="col-sm-3">
                  <input type="text" class="form-control" name="MaxNumberOrder" ngModel required pattern="^[0-9]+" #maxNumberOrder="ngModel">
                </div>
                /1 day
              </div>
              <div class="row">
                <div class="col-sm-3"></div>
                <div [hidden]="maxNumberOrder.pristine || maxNumberOrder.valid" class="error">
                  Max number order is required or invalid
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label text-right">
                  Estimated shipping time
                </label>
                <div class="col-sm-9 form-inline">
                  Ship at least <input type="number" min="0" class="form-control" name="EstimatedShippingTime" ngModel>
                  <select class="form-control" name="shippingTime" ngModel>
                    <option *ngFor="let time of times"
                            value="{{time}}">{{time}}
                    </option>
                  </select> (s) after supplier received the payment.
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label text-right">
                  Estimated delivery time
                </label>
                <div class="col-sm-2">
                  <input type="number" min="0" class="form-control" name="EstimatedDeliveryTimeMin" ngModel>
                </div>
                <label> - </label>
                <div class="col-sm-2">
                  <input type="number" min="0" class="form-control" name="EstimatedDeliveryTimeMax" ngModel>
                </div>
                <div class="col-sm-2">
                  <select class="form-control" name="deliveryTime" ngModel>
                    <option *ngFor="let time of times"
                            value="{{time}}">{{time}}
                    </option>
                  </select>
                </div>
                <label> (s) </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</form>


<div class="main-content" style="margin-top: 20px; margin-bottom: 20px">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card" style="background: white">
          <div class="card-content justify-content-sm-center"
               style="padding-top: 20px; padding-bottom: 20px; padding-left: 20px; padding-right: 20px">
            <div class="row">
            </div>
            <h5>Logistics Information</h5>
            <div class="row">
              <div class="col-sm-4 text-center">
                <label>Description Name</label>
              </div>
              <div class="col-sm-8 text-center">
                <label>Description Value</label>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <form [formGroup]="formDescription">
                  <div formArrayName="descriptions">
                    <div *ngFor="let description of formDescription.controls['descriptions'].controls; let i=index">
                      <div [formGroupName]="i">
                        <div class="row">
                          <div class="form-group col-sm-4">
                            <!--<input class="form-control" type="text" formControlName="descriptionName">-->
                            <select class="form-control" formControlName="DescriptionID"
                                    required>
                              <option *ngFor="let description of descriptions; let  i = index" type="number"
                                      value="{{description.descriptionID}}">
                                {{description.descriptionName}}
                              </option>
                            </select>
                          </div>
                          <div class="form-group col-sm-6">
                            <input class="form-control" type="text"
                                   formControlName="DescriptionValue">
                          </div>
                          <div class="form-group col-sm-1" *ngIf="formDescription.controls['descriptions'].length > 1"
                               (click)="removeDescription(i)">
                            <i class="fa fa-times" aria-hidden="true"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="margin-20">
                    <a (click)="addDescription()" style="cursor: default">
                      More description +
                    </a>
                  </div>
                </form>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-sm-12 text-center" style="margin-bottom: 10px">
  <input type="submit" value="Create Post" class="btn btn-success"
         (click)="createPost(createPost2Form.value, formDescription)">
</div>



