<div class="main-content" style="margin-top: 20px; margin-bottom: 20px">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card" style="background: white">
          <div class="card-content justify-content-sm-center"
               style="padding-top: 20px; padding-bottom: 20px; padding-left: 20px; padding-right: 20px">

            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link" id="new-tab" data-toggle="tab" href="#new" role="tab"
                   aria-controls="new" aria-selected="true" (click)="changePage('NEW', '', 1)"> New </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="paying-tab" data-toggle="tab" href="#paying" role="tab"
                   aria-controls="paying" aria-selected="true" (click)="changePage('PAYING', '', 1)"> Paying </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="shipping-tab" data-toggle="tab" href="#shipping" role="tab"
                   aria-controls="shipping" aria-selected="false" (click)="changePage('SHIPPING', '', 1)">
                  Shipping </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="finished-tab" data-toggle="tab" href="#finished" role="tab"
                   aria-controls="finished" aria-selected="false" (click)="changePage('FINISHED', '', 1)"> Finished </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="denied-tab" data-toggle="tab" href="#denied" role="tab"
                   aria-controls="denied" aria-selected="false" (click)="changePage('DENIED', '', 1)"> Denied </a>
              </li>
            </ul>

            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade" id="new" role="tabpanel" aria-labelledby="home-tab">
                <h5></h5>
                <form #searchNewForm="ngForm" class="form-inline">
                  <div class="form-group">
                    <input type="text" class="form-control" name="searchNew" ngModel>
                  </div>
                  <button type="submit" class="btn btn-default"
                          (click)="changePage('NEW', searchNewForm.value.searchNew, 1)">Search
                  </button>
                </form>
                <div class="table-responsive">
                  <table class="table table-hover">
                    <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Post title</th>
                      <th scope="col">Buyer Name</th>
                      <th scope="col">Order Date</th>
                      <th scope="col">Status</th>
                      <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let post of posts; let i = index">
                      <th scope="row">{{i + 1}}</th>
                      <td>{{post.product.productName}}</td>
                      <td>{{post.minPrice}} - {{post.maxPrice}}</td>
                      <td>{{post.lastUpdatedDay}}</td>
                      <td>{{post.status.statusName}}</td>
                      <td>
                        <button type="button" class="btn btn-info">
                          <i class="fa fa-info-circle" aria-hidden="true"></i>
                          View detail
                        </button>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
                <nav aria-label="Page navigation example">
                  <ul class="pagination justify-content-start">
                    <li class="page-item disabled">
                      <a class="page-link" href="#" tabindex="-1">Previous</a>
                    </li>
                    <li class="page-item" *ngFor="let page of pages">
                      <a class="page-link" [routerLink]="['./']"
                         (click)="changePage('NEW',searchNewForm.value, page)">{{page}}</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="#">Next</a>
                    </li>
                  </ul>
                </nav>
              </div>

              <div class="tab-pane fade" id="paying" role="tabpanel" aria-labelledby="home-tab">
                <h5></h5>
                <form #searchPayingForm="ngForm" class="form-inline">
                  <div class="form-group">
                    <input type="text" class="form-control" name="searchPaying" ngModel>
                  </div>
                  <button type="submit" class="btn btn-default"
                          (click)="changePage('PAYING', searchPayingForm.value.searchPaying, 1)">Search
                  </button>
                </form>
                <div class="table-responsive">
                  <table class="table table-hover">
                    <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Post title</th>
                      <th scope="col">Buyer Name</th>
                      <th scope="col">Order Date</th>
                      <th scope="col">Status</th>
                      <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let post of posts; let i = index">
                      <th scope="row">{{i + 1}}</th>
                      <td>{{post.product.productName}}</td>
                      <td>{{post.minPrice}} - {{post.maxPrice}}</td>
                      <td>{{post.lastUpdatedDay}}</td>
                      <td>{{post.status.statusName}}</td>
                      <td>
                        <button type="button" class="btn btn-info">
                          <i class="fa fa-info-circle" aria-hidden="true"></i>
                          View detail
                        </button>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
                <nav aria-label="Page navigation example">
                  <ul class="pagination justify-content-start">
                    <li class="page-item disabled">
                      <a class="page-link" href="#" tabindex="-1">Previous</a>
                    </li>
                    <li class="page-item" *ngFor="let page of pages">
                      <a class="page-link" [routerLink]="['./']"
                         (click)="changePage('PAYING',searchPayingForm.value, page)">{{page}}</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="#">Next</a>
                    </li>
                  </ul>
                </nav>
              </div>
              <div class="tab-pane fade" id="shipping" role="tabpanel" aria-labelledby="profile-tab">
                <h5></h5>
                <form #searchShippingForm="ngForm" class="form-inline">
                  <div class="form-group">
                    <input type="text" class="form-control" name="searchShipping" ngModel>
                  </div>
                  <button type="submit" class="btn btn-default"
                          (click)="changePage('SHIPPING', searchShippingForm.value.searchShipping, 1)">
                    Search
                  </button>
                </form>
                <div class="table-responsive">
                  <table class="table table-hover">
                    <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Post Title</th>
                      <th scope="col">Buyer Name</th>
                      <th scope="col">Order Date</th>
                      <th scope="col">Status</th>
                      <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let post of posts; let i = index">
                      <th scope="row">{{i + 1}}</th>
                      <td>{{post.product.productName}}</td>
                      <td>{{post.minPrice}} - {{post.maxPrice}}</td>
                      <td>{{post.lastUpdatedDay}}</td>
                      <td>{{post.status.statusName}}</td>
                      <td>
                        <button type="button" class="btn btn-info">
                          <i class="fa fa-info-circle" aria-hidden="true"></i>
                          View detail
                        </button>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
                <nav aria-label="Page navigation example">
                  <ul class="pagination justify-content-start">
                    <li class="page-item disabled">
                      <a class="page-link" href="#" tabindex="-1">Previous</a>
                    </li>
                    <li class="page-item" *ngFor="let page of pages">
                      <a class="page-link" [routerLink]="['./']"
                         (click)="changePage('SHIPPING',searchShippingForm.value, page)">{{page}}</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="#">Next</a>
                    </li>
                  </ul>
                </nav>
              </div>
              <div class="tab-pane fade" id="finished" role="tabpanel" aria-labelledby="contact-tab">
                <h5></h5>
                <form #searchFinishedForm="ngForm" class="form-inline">
                  <div class="form-group">
                    <input type="text" class="form-control" name="searchFinished" ngModel>
                  </div>
                  <button type="submit" class="btn btn-default"
                          (click)="changePage('FINISHED', searchFinishedForm.value.searchFinished, 1)">Search
                  </button>
                </form>
                <div class="table-responsive">
                  <table class="table table-hover">
                    <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Post Title</th>
                      <th scope="col">Buyer Name</th>
                      <th scope="col">Order Date</th>
                      <th scope="col">Status</th>
                      <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let post of posts; let i = index">
                      <th scope="row">{{i + 1}}</th>
                      <td>{{post.product.productName}}</td>
                      <td>{{post.minPrice}} - {{post.maxPrice}}</td>
                      <td>{{post.lastUpdatedDay}}</td>
                      <td>{{post.status.statusName}}</td>
                      <td>
                        <button type="button" class="btn btn-info">
                          <i class="fa fa-info-circle" aria-hidden="true"></i>
                          View detail
                        </button>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
                <nav aria-label="Page navigation example">
                  <ul class="pagination justify-content-start">
                    <li class="page-item disabled">
                      <a class="page-link" href="#" tabindex="-1">Previous</a>
                    </li>
                    <li class="page-item" *ngFor="let page of pages">
                      <a class="page-link" [routerLink]="['./']"
                         (click)="changePage('FINISHED',searchFinishedForm.value, page)">{{page}}</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="#">Next</a>
                    </li>
                  </ul>
                </nav>
              </div>
              <div class="tab-pane fade" id="denied" role="tabpanel" aria-labelledby="contact-tab">
                <h5></h5>
                <form #searchDeniedForm="ngForm" class="form-inline">
                  <div class="form-group">
                    <input type="text" class="form-control" name="searchDenied" ngModel>
                  </div>
                  <button type="submit" class="btn btn-default"
                          (click)="changePage('DENIED', searchDeniedForm.value.searchDenied, 1)">Search
                  </button>
                </form>
                <div class="table-responsive">
                  <table class="table table-hover">
                    <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Post title</th>
                      <th scope="col">Buyer Name</th>
                      <th scope="col">Order Date</th>
                      <th scope="col">Status</th>
                      <th scope="col">Active</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let post of posts; let i = index">
                      <th scope="row">{{i + 1}}</th>
                      <td>{{post.product.productName}}</td>
                      <td>{{post.minPrice}} - {{post.maxPrice}}</td>
                      <td>{{post.lastUpdatedDay}}</td>
                      <td>{{post.status.statusName}}</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
                <nav aria-label="Page navigation example">
                  <ul class="pagination justify-content-start">
                    <li class="page-item disabled">
                      <a class="page-link" href="#" tabindex="-1">Previous</a>
                    </li>
                    <li class="page-item" *ngFor="let page of pages">
                      <a class="page-link" [routerLink]="['./']"
                         (click)="changePage('DENIED',searchDeniedForm.value, page)">{{page}}</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="#">Next</a>
                    </li>
                  </ul>
                </nav>
              </div>

            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>

