<div class="header">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
    <a class="navbar-brand col-sm-4" routerLink="/home">
      <div class="row justify-content-start">
        <div class="col-sm-2">
          <h3><b>Electronic Devices Market</b></h3>
        </div>
      </div>

    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Categories
          </a>
          <div class="dropdown-menu dropdown-menu-left" style="cursor:default;padding: 0px">
            <a style="padding-top: 10px;padding-bottom: 10px;" class="dropdown-item" *ngFor="let catalog of catalogs"
               (click)="chooseCatalog(catalog.catalogId)">
              {{catalog.catalogName}}
            </a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/tender">Tender</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/groupbuying">Group Buying</a>
        </li>
      </ul>
      <form #searchForm="ngForm" class="form-inline">
        <div class="input-group">
          <!--<select class="form-control">
            <option value="">Products</option>
            <option>Suppliers</option>
          </select>-->
          <input type="text" class="form-control" name="search" placeholder="Search product..." ngModel>
        </div>
        <button class="btn btn-outline-success my-2 my-sm-0 mx-sm-2" type="submit" (click)="search(searchForm.value)">
          Search
        </button>
      </form>
      <ul *ngIf="user" class="nav navbar-right pull-right col-sm-3">
        <li class="nav-item dropdown">
          <a style="color: white" class="nav-link dropdown-toggle" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-user-circle" aria-hidden="true"></i>
            <span class="hidden-xs">My Profile</span>
          </a>
          <div class="dropdown-menu dropdown-menu-right" style="cursor:default;padding: 0px">
            <a class="dropdown-item" style="padding-top: 10px;padding-bottom: 10px;"><i class="fa fa-fw fa-user"></i> Hello, {{user.username}}</a>
            <a class="dropdown-item" style="padding-top: 10px;padding-bottom: 10px;"><i class="fa fa-address-card-o" aria-hidden="true"></i> Edit Profile</a>
            <a class="dropdown-item" style="padding-top: 10px;padding-bottom: 10px;"><i class="fa fa-fw fa-cog"></i> Change Password</a>
            <div *ngIf="user.role == 'SUPPLIER'">
              <div class="dropdown-divider" style="margin:0px"></div>
              <a style="padding-top: 10px;padding-bottom: 10px;" class="dropdown-item" routerLink="/supplier">
                <i class="fa fa-info-circle" aria-hidden="true"></i>
                Manage</a>
            </div>
            <div *ngIf="user.role == 'BUYER'">
              <div class="dropdown-divider" style="margin:0px"></div>
              <a style="padding-top: 10px;padding-bottom: 10px;" class="dropdown-item" routerLink="/buyer">
                <i class="fa fa-info-circle" aria-hidden="true"></i>
                Manage</a>
            </div>
            <div *ngIf="user.role == 'STAFF'">
              <div class="dropdown-divider" style="margin:0px"></div>
              <a style="padding-top: 10px;padding-bottom: 10px;" class="dropdown-item" routerLink="/staff">
                <i class="fa fa-info-circle" aria-hidden="true"></i>
                Manage</a>
            </div>
            <div *ngIf="user.role == 'ADMIN'">
              <div class="dropdown-divider" style="margin:0px"></div>
              <a style="padding-top: 10px;padding-bottom: 10px;" class="dropdown-item" routerLink="/admin">
                <i class="fa fa-info-circle" aria-hidden="true"></i>
                Manage</a>
            </div>

            <div class="dropdown-divider" style="margin:0px"></div>
            <a style="padding-top: 10px;padding-bottom: 10px;" class="dropdown-item" href="" (click)="logout()"><i class="fa fa-fw fa-power-off"></i> Logout</a>
          </div>
        </li>
      </ul>
      <ul *ngIf="!user" class="nav navbar-right pull-right col-sm-3">
        <li class="nav-item dropdown">
          <a style="color: white" class="nav-link dropdown-toggle" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-user-circle" aria-hidden="true"></i>
            <span class="hidden-xs">My Profile</span>
          </a>
          <div class="dropdown-menu dropdown-menu-right" style="cursor:default;padding: 0px">
            <a style="padding-top: 10px;padding-bottom: 10px;" class="dropdown-item" data-toggle="modal" data-target="#loginModal"><i class="fa fa-fw fa-user"></i>
              Login </a>
            <a style="padding-top: 10px;padding-bottom: 10px;" class="dropdown-item" routerLink="/register"><i class="fa fa-fw fa-cog"></i> Register</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</div>

<div class="container-fluid" style="min-height:800px; padding: 0px">
  <router-outlet></router-outlet>
</div>


<div class="footer col-sm-12"
     style="padding-top: 20px; border-top: 1px solid #ccc; height: 150px; margin-bottom: 0px;padding-bottom: 10px">
  <div class="row">
    <div class="col-md-3">
      <h3>About Us</h3>
      <p><b><i>The purpose of a business is to create a customer who creates customers.</i></b></p>
    </div>
    <div class="col-md-3">
      <!--<h3>My Account</h3>
      <ul>
        <li><a href="#">Login</a></li>
        <li><a href="#">Register</a></li>
        <li><a href="#">Wishlist</a></li>

      </ul>-->
    </div>
    <div class="col-md-6">
      <p><i class="fa fa-home" aria-hidden="true"></i>100 Quang Trung Street , Go Vap District, Ho Chi Minh City.</p>
      <p><i class="fa fa-phone" aria-hidden="true"></i>+84 123 4567 890 , +1234 777 888</p>
      <p><a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i>abc@gmail.com</a></p>
      <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>


<!-- Login Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form #loginForm="ngForm">
        <div class="modal-header text-center">
          <h5 class="modal-title" id="exampleModalLabel"><i class="fa fa-user fa-fw"></i> Login</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="form-group">
              <div class="input-group margin-bottom-sm">
                <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
                <input class="form-control" type="text" placeholder="Email address" name="email" ngModel>
              </div>
            </div>

            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                <input class="form-control" type="password" placeholder="Password" name="password" ngModel>
              </div>
            </div>

            <a href="#">Forgot Password?</a>
          </div>
        </div>
        <div class="modal-footer align-self-center">
          <button type="submit" class="btn btn-primary" (click)="login(loginForm.value)">Login</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>
<button id="openModalButton" [hidden]="true" data-toggle="modal" data-target="#loginModal">Open Modal</button>


