<div class="container" style="margin-top: 30px">
  <div class="row justify-content-around col-sm-12" style="margin: 0px; padding: 20px">
    <div class="col-sm-6">
      <div class="col-sm-12 row justify-content-start" style="margin: 0px; padding:0px">
        <label>All Order: {{allOrder}}</label>
        <label style="margin-left: 20px">All Succeed Order: {{allOrderSuccess}}</label>
      </div>
      <div class="col-sm-12 row" style="margin: 0px; padding:0px">
        <p-chart type="pie" [data]="data" height="300"></p-chart>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="col-sm-12 row" style="margin: 0px; padding:0px">
        <label>Choose Catalog: </label>
        <select class="form-control" (change)="getDataByCatalog($event.target.value)"
                style="width: 200px;margin-left: 20px;">
          <option *ngFor="let category of categories" value="{{category.catalogId}}">{{category.catalogName}}</option>
        </select>
      </div>
      <div class="col-sm-12 row" style="margin: 0px; padding:0px">
        <p-chart type="pie" [data]="data1" height="300"></p-chart>
      </div>
    </div>
  </div>

</div>
