<div class="main-content" style="margin-top: 20px; margin-bottom: 20px">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card" style="background: white">
          <div class="card-content justify-content-sm-center"
               style="padding-top: 20px; padding-bottom: 20px; padding-left: 20px; padding-right: 20px">

            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item" *ngFor="let dealStatusTab of dealStatusTabs">
                <a *ngIf="dealStatus==dealStatusTab" class="nav-link active" (click)="changeStatus(dealStatusTab)"
                   style="cursor: default"> {{dealStatusTab | titlecase}} </a>
                <a *ngIf="dealStatus!=dealStatusTab" class="nav-link" (click)="changeStatus(dealStatusTab)"
                   style="cursor: default"> {{dealStatusTab | titlecase}} </a>
              </li>
            </ul>

            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" role="tabpanel" aria-labelledby="home-tab">
                <h5></h5>
                <form #searchForm="ngForm" class="form-inline">
                  <div class="form-group">
                    <input type="text" class="form-control" name="search" ngModel>
                  </div>
                  <button type="submit" class="btn btn-default"
                          (click)="changePage(searchForm.value.search, 1)">Search
                  </button>
                </form>

                <div class="clearfix"></div>


                <table class="table table-hover">
                  <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Deal Title</th>
                    <th *ngIf="user.role == 'SUPPLIER'" scope="col">Current Participants</th>
                    <th *ngIf="user.role == 'SUPPLIER'" scope="col">Required Participants</th>
                    <th *ngIf="user.role == 'BUYER'" scope="col">Joined Date</th>
                    <th scope="col">Expried Date</th>
                    <th scope="col" *ngIf="dealStatus=='success' && user.role=='BUYER'">Action</th>
                  </tr>
                  </thead>
                  <tbody *ngIf="user.role=='SUPPLIER'">
                  <tr *ngFor="let deal of deals; let i = index" (click)="viewDealDetail(deal.dealID)">
                    <th scope="row">{{i + 1}}</th>
                    <td>
                      {{deal.dealTitle}}<br>
                      <small>{{deal.product.productName}}</small>
                    </td>
                    <td>{{deal.currentParticipant}} <i class="fa fa-user" aria-hidden="true"></i></td>
                    <td>{{deal.minParticipant}} <i class="fa fa-user" aria-hidden="true"></i></td>
                    <td><i>{{deal.closedDay}}</i></td>
                  </tr>
                  </tbody>
                  <tbody *ngIf="user.role=='BUYER'">
                  <tr *ngFor="let deal of deals; let i = index" (click)="viewDealDetail(deal.dealHistoryID.deal.dealID)">
                    <th scope="row">{{i + 1}}</th>
                    <td>
                      {{deal.dealHistoryID.deal.dealTitle}}<br>
                      <small>{{deal.dealHistoryID.deal.product.productName}}</small>
                    </td>
                    <td>{{deal.joinDate}}</td>
                    <td><i>{{deal.dealHistoryID.deal.closedDay}}</i>
                    </td>
                    <td *ngIf="dealStatus=='success'">
                      <button *ngIf="lates[i] == false" class="btn btn-success" (click)="orderDeal(deal.dealHistoryID.deal.dealID)">
                        Order
                      </button>
                      <label *ngIf="lates[i] == true" class="text-danger">This deal has expired to order</label>
                    </td>
                  </tr>
                  </tbody>
                </table>


                <nav aria-label="Page navigation example">
                  <ul class="pagination justify-content-start">
                    <li class="page-item disabled">
                      <a class="page-link" href="#" tabindex="-1">Previous</a>
                    </li>
                    <li class="page-item" *ngFor="let page of pages">
                      <a class="page-link" [routerLink]="['./']"
                         (click)="changePage(searchForm.value.search, page)">{{page}}</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="#">Next</a>
                    </li>
                  </ul>
                </nav>
              </div>


            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>
