<div class="main-content" style="margin-top: 20px; margin-bottom: 20px">
  <div class="container">
    <div class="col-md-12">
      <div class="card" style="background: white">
        <div class="card-content justify-content-sm-center"
             style="padding-top: 20px; padding-bottom: 20px; padding-left: 20px; padding-right: 20px">
          <div class="row">
            <div class="col-sm-5 justify-content-center" style="border-right: 1px solid grey">
              <div class="row" style="padding: 10px">
                <img imageZoom="" lensBorder="1" src="{{mainImage}}"
                     style="width: 350px; height: 350px;">
              </div>
              <div class="row justify-content-center">
                <img src="https://cdn.tgdd.vn/Products/Images/42/87840/iphone-7-plus-256gb-jet-black-3-400x460.png"
                     (mouseover)="setImage($event)"
                     height="80" width="80" style="border: 1px solid #ddd; background: #f9f9f9;"/>
                <img src="https://cdn.tgdd.vn/Products/Images/42/112970/samsung-galaxy-j7-plus-1-400x460.png"
                     (mouseover)="setImage($event)"
                     height="80" width="80" style="border: 1px solid #ddd; background: #f9f9f9;"/>
                <img src="https://cdn.tgdd.vn/Products/Images/42/77849/samsung-galaxy-j3-2017-2-400x460.png"
                     (mouseover)="setImage($event)"
                     height="80" width="80" style="border: 1px solid #ddd; background: #f9f9f9;"/>
                <img src="https://cdn.tgdd.vn/Products/Images/42/87840/iphone-7-plus-256gb-jet-black-3-400x460.png"
                     (mouseover)="setImage($event)"
                     height="80" width="80" style="border: 1px solid #ddd; background: #f9f9f9;"/>
                <img src="https://cdn.tgdd.vn/Products/Images/42/87840/iphone-7-plus-256gb-jet-black-3-400x460.png"
                     (mouseover)="setImage($event)"
                     height="80" width="80" style="border: 1px solid #ddd; background: #f9f9f9;"/>
              </div>

            </div>
            <div class="col-sm-7">
              <div class="row" style="padding: 20px">
                <h4>Post Title</h4>
              </div>
              <div class="row" style="padding-left: 20px">
                <h5>Product Name</h5>
              </div>
              <div class="row" style="padding: 20px; font-size: 20px">
                <b>PRICE</b> / unit | 1 unit(Min. Order)
              </div>
              <div class="row" style="padding:20px;background-color: #f2f3f7">
                Supply Ability: <br>
                Supplier Name:
              </div>
              <div class="row justify-content-center" style="padding: 30px">
                <button type="button" class="btn btn-info">Contact Supplier</button>
                <label class="col-sm-1"></label>
                <button type="button" class="btn btn-outline-info"> Start Order</button>
              </div>

            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>

<div class="main-content" style="margin-top: 20px; margin-bottom: 20px">
  <div class="container">
    <div class="col-md-12">
      <div class="card" style="background: white">
        <div class="card-content justify-content-sm-center"
             style="padding-top: 20px; padding-bottom: 20px; padding-left: 20px; padding-right: 20px">

          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="home-tab" data-toggle="tab" href="#productDetails" role="tab"
                 aria-controls="home" aria-selected="true"><h5>Product Details</h5></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="profile-tab" data-toggle="tab" href="#companyProfile" role="tab"
                 aria-controls="profile" aria-selected="false"><h5>Company Profile</h5></a>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="productDetails" role="tabpanel" aria-labelledby="home-tab">
              <div class="row col-sm-12" style="padding: 20px; border-bottom: 1px dashed #8c8b8b">
                <h4>Overview</h4>
                <div class="row col-sm-12">
                  <label class="col-sm-3">Product Name</label>
                  <label class="col-sm-9">ggdfgfdg</label>

                  <label class="col-sm-3">Brand Name</label>
                  <label class="col-sm-9">fdgfdgdf</label>

                  <label class="col-sm-3">Catagory</label>
                  <label class="col-sm-9">vfdgfdg</label>

                  <label class="col-sm-3">Color</label>
                  <label class="col-sm-9">vfdgfdg</label>

                  <label class="col-sm-3">Warranty</label>
                  <label class="col-sm-9">vfdgfdg</label>
                </div>
              </div>
              <div class="row col-sm-12" style="padding: 20px; border-bottom: 1px dashed #8c8b8b">
                <h4>Shipping</h4>
                <div class="row col-sm-12">
                  <label class="col-sm-3">Delivery Time</label>
                  <label class="col-sm-9">ggdfgfdg</label>
                </div>
              </div>
              <div class="row col-sm-12" style="padding: 20px; border-bottom: 1px dashed #8c8b8b">
                <h4>Product Description</h4>
                <div class="row col-sm-12">
                  <table class="table table-responsive table-bordered">
                    <thead>
                    <tr>
                      <td scope="col">#</td>
                      <td scope="col">Description Name</td>
                      <td scope="col">Description Value</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td scope="row">1</td>
                      <td>4G</td>
                      <td>Yes</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="companyProfile" role="tabpanel" aria-labelledby="profile-tab">...</div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>





