/* You can add global styles to this file, and also import other style files */
.toast-top-center {
  top: 12px;
  margin: 0 auto;
  left: 50%;
}

body,html .wrap-content
{
  height: 100%;
}

.hvr-glow {
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
}
.hvr-glow:hover, .hvr-glow:focus, .hvr-glow:active {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}


.error {
  padding: 10px;
  font-size: small;
  color: red;
}


.star {
  color: red;
}

