/* You can add global styles to this file, and also import other style files */
.toast-top-center {
  top: 12px;
  margin: 0 auto;
  left: 50%;
}

body,html{
  height: 100%;
}
.error{
  padding: 3px;
  color: red;
  font-size: small;
}
