<div class="container" style="padding:50px">
  <div class="card-columns">
    <div class="card justify-content-center text-center hvr-glow" *ngFor="let deal of deals; let i = index"
         (click)="viewDealDetail(deal.dealID)">
      <div class="card-body">
        <h4 id="{{i}}">00d 00h 00m 00s</h4>
      </div>
      <img class="card-img" src="{{deal.dealImage}}" alt="Sale Image">
      <div class="card-body" style="padding: 0px">
        <h4 class="card-title" style="padding-top: 10px;margin-bottom:0px">{{deal.dealTitle}}</h4>
        <small class="text-muted"><i>Registration deadline: {{deal.closedDay}}</i></small>
        <label style="margin-bottom:0px">{{deal.product.productName}}</label><br>
        <label style="margin-bottom:0px">Discount: {{deal.discount}} %</label>
        <div>
          <i class="fa fa-usd" aria-hidden="true"></i>
          <b class="text-primary" style="text-decoration: line-through; margin-left: 5px">{{deal.firstPrice|number:'1.0-2'}}VND</b><b
          class="text-success"> {{deal.discountPrice|number:'1.0-2'}} VND</b>
        </div>
        <div>
          <i class="fa fa-user" aria-hidden="true"></i>
          <label style="margin-left: 5px">{{deal.currentParticipant}}/{{deal.minParticipant}}</label>
        </div>

      </div>
    </div>
  </div>
</div>
