<div class="container" style="margin-top: 20px; margin-bottom: 20px">
  <nav class="nav nav-pills nav-fill">
    <a class="nav-item nav-link"><strong>Select Category</strong></a>
    <a class="nav-item nav-link"><strong><i class="fa fa-chevron-right" aria-hidden="true"></i></strong></a>
    <a class="nav-item nav-link"><strong>Fill in Product Information</strong></a>
    <a class="nav-item nav-link"><strong><i class="fa fa-chevron-right" aria-hidden="true"></i></strong></a>
    <a class="nav-item nav-link active"><strong>Waiting for approved</strong></a>
  </nav>
</div>


<div class="main-content" style="margin-top: 20px; margin-bottom: 20px">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card" style="background: white">
          <div class="card-content justify-content-sm-center"
               style="padding-top: 20px; padding-bottom: 20px; padding-left: 20px; padding-right: 20px">

            <h5>You have created new post successfully.</h5>

            Please wait for approved...<br><br>

            <button type="button" class="btn btn-success" routerLink="/supplier/post-list">Click here to view all your posts.</button>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>




