<div class="main-content" style="margin-top: 20px; margin-bottom: 20px">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card" style="background: white">
          <div class="card-content justify-content-sm-center"
               style="padding-top: 20px; padding-bottom: 20px; padding-left: 20px; padding-right: 20px">

            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item">
                <a *ngIf="tenderStatus=='active'" class="nav-link active"  data-toggle="tab"
                   href="#active" role="tab"
                   aria-controls="active" aria-selected="true" (click)="changeStatus('active')"> Active </a>
                <a *ngIf="tenderStatus!='active'" class="nav-link"  data-toggle="tab" href="#active"
                   role="tab"
                   aria-controls="active" aria-selected="true" (click)="changeStatus('active')"> Active </a>
              </li>
              <li class="nav-item">
                <a *ngIf="tenderStatus=='closed'" class="nav-link active"  data-toggle="tab"
                   href="#closed" role="tab"
                   aria-controls="closed" aria-selected="true" (click)="changeStatus('closed')"> Closed </a>
                <a *ngIf="tenderStatus!='closed'" class="nav-link"  data-toggle="tab" href="#closed"
                   role="tab"
                   aria-controls="closed" aria-selected="true" (click)="changeStatus('closed')"> Closed </a>
              </li>
              <li class="nav-item">
                <a *ngIf="tenderStatus=='finished'" class="nav-link active"  data-toggle="tab"
                   href="#finished" role="tab"
                   aria-controls="finished" aria-selected="false" (click)="changeStatus('finished')">
                  Finished </a>
                <a *ngIf="tenderStatus!='finished'" class="nav-link"  data-toggle="tab"
                   href="#finished" role="tab"
                   aria-controls="finished" aria-selected="false" (click)="changeStatus('finished')">
                  Finished </a>
              </li>
              <li class="nav-item">
                <a *ngIf="tenderStatus=='cancel'" class="nav-link active"  data-toggle="tab"
                   href="#cancel" role="tab"
                   aria-controls="cancel" aria-selected="false" (click)="changeStatus('cancel')">
                  Cancel </a>
                <a *ngIf="tenderStatus!='cancel'" class="nav-link"  data-toggle="tab" href="#cancel"
                   role="tab"
                   aria-controls="cancel" aria-selected="false" (click)="changeStatus('cancel')">
                  Cancel </a>
              </li>
            </ul>

            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" role="tabpanel" aria-labelledby="home-tab">
                <h5></h5>
                <form #searchForm="ngForm" class="form-inline">
                  <div class="form-group">
                    <input type="text" class="form-control" name="search" ngModel>
                  </div>
                  <button type="submit" class="btn btn-default"
                          (click)="changePage(searchForm.value.search, 1)">Search
                  </button>
                </form>

                <div class="clearfix"></div>


                <table class="table table-hover">
                  <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Tender Title</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Status</th>
                    <th scope="col">Action</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let tender of tenders; let i = index">
                    <th scope="row">{{i + 1}}</th>
                    <td>{{tender.tenderTitle}}</td>
                    <td>{{tender.productName}}</td>
                    <td *ngIf="tender.status.statusName=='ACTIVE'" class="text-info"><strong>{{tender.status.statusName}}</strong>
                    </td>
                    <td *ngIf="tender.status.statusName=='CLOSED'" class="text-secondary"><strong>{{tender.status.statusName}}</strong>
                    </td>
                    <td *ngIf="tender.status.statusName=='FINISHED'" class="text-success"><strong>{{tender.status.statusName}}</strong>
                    </td>
                    <td *ngIf="tender.status.statusName=='CANCEL'" class="text-danger"><strong>{{tender.status.statusName}}</strong>
                    </td>
                    <td style="font-size: 25px; margin: 0px; padding: 6px">
                      <i class="fa fa-info-circle text-info" aria-hidden="true"
                         (click)="viewTenderDetail(tender.tenderID)"
                         data-toggle="tooltip" data-placement="top" title="View Detail"></i>
                      <i *ngIf="tenderStatus=='active' || tenderStatus=='closed'" class="fa fa-times-circle text-danger"
                         aria-hidden="true" (click)="openCancelTender(tender.tenderID)"
                         data-toggle="tooltip" data-placement="top" title="Cancle this tender"></i>

                    </td>
                  </tr>
                  </tbody>
                </table>


                <nav aria-label="Page navigation example">
                  <ul class="pagination justify-content-start">
                    <li class="page-item disabled">
                      <a class="page-link" href="#" tabindex="-1">Previous</a>
                    </li>
                    <li class="page-item" *ngFor="let page of pages">
                      <a class="page-link" [routerLink]="['./']"
                         (click)="changePage(search.value, page)">{{page}}</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="#">Next</a>
                    </li>
                  </ul>
                </nav>
              </div>


            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="cancelTenderModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cancel Tender</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #cancelTenderForm="ngForm">
          <div class="row text-center justify-content-center align-items-center">
            <label class="col-sm-3">Reason: </label>
            <input type="text" class="form-control col-sm-8" name="reason" #reason="ngModel" required ngModel
                   placeholder="Enter reason to cancel tender">
          </div>
          <div *ngIf="reason.invalid && (reason.dirty || reason.touched)"
               class="error row text-center">
            <div *ngIf="reason.errors.required">
              Reason is required.
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" [disabled]="!cancelTenderForm.valid"
                (click)="cancelTender(cancelTenderForm.value)">Cancle Tender
        </button>
      </div>
    </div>
  </div>
</div>
<button id="opencancelTenderModal" [hidden]="true" data-toggle="modal" data-target="#cancelTenderModal">Open Modal
</button>
