<div class="header">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/supplier/main"><b>Electronic Devices Market</b></a>
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="product" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-cubes" aria-hidden="true"></i>
            Product
          </a>
          <div class="dropdown-menu" aria-labelledby="product" style="cursor:default;padding: 0px">
            <a class="dropdown-item" routerLink="/supplier/post-list">All Products</a>
            <a class="dropdown-item" routerLink="/supplier/create-post1">Display a new product</a>
          </div>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="/supplier/order-list/waiting">
            <i class="fa fa-file-text-o" aria-hidden="true"></i>
            Order
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#"  role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-cubes" aria-hidden="true"></i>
            Negotiation
          </a>
          <div class="dropdown-menu" aria-labelledby="product" style="cursor:default;padding: 0px">
            <a class="dropdown-item" (click)="gotoNegoDetail('negotiating')">Negotiating</a>
            <a class="dropdown-item" (click)="gotoNegoDetail('finished')">Finished</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/supplier/tender-list/active">
            <i class="fa fa-handshake-o" aria-hidden="true"></i>
            Tender
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-users" aria-hidden="true"></i>
            Group Buying
          </a>
          <div class="dropdown-menu" aria-labelledby="product" style="cursor:default;padding: 0px">
            <a class="dropdown-item" routerLink="/supplier/deal-list/ongoing">All Group-Buying</a>
            <a class="dropdown-item" routerLink="/supplier/create-deal">Create New Group-Buying</a>
          </div>
        </li>


      </ul>
      <ul class="nav navbar-right pull-right col-sm-3">
        <li class="nav-item dropdown">
          <a style="color: white" class="nav-link dropdown-toggle" href="#" id="profile" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <b>
              <i class="fa fa-user-circle" aria-hidden="true"></i>
              <span class="hidden-xs">My Profile</span>
            </b>
          </a>
          <div class="dropdown-menu dropdown-menu-right bg-light" aria-labelledby="profile" style="cursor:default;padding: 0px">
            <a class="dropdown-item" href=""><i class="fa fa-fw fa-user"></i> Hello, {{user.username}}</a>
            <a class="dropdown-item" href=""><i class="fa fa-address-card-o" aria-hidden="true"></i> Edit Profile</a>
            <a class="dropdown-item" href=""><i class="fa fa-fw fa-cog"></i> Change Password</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="/home"><i class="fa fa-info-circle" aria-hidden="true"></i> Home</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</div>



<div class="container-fluid" style="min-height:800px; padding: 0px">
  <router-outlet></router-outlet>
</div>




<div class="footer col-sm-12"
     style="padding-top: 20px; border-top: 1px solid #ccc; height: 150px; margin-bottom: 0px;padding-bottom: 10px">
  <div class="row">
    <div class="col-md-3">
      <h3>About Us</h3>
      <p><b><i>The purpose of a business is to create a customer who creates customers.</i></b></p>
    </div>
    <div class="col-md-3">
      <!--<h3>My Account</h3>
      <ul>
        <li><a href="#">Login</a></li>
        <li><a href="#">Register</a></li>
        <li><a href="#">Wishlist</a></li>

      </ul>-->
    </div>
    <div class="col-md-6">
      <p><i class="fa fa-home" aria-hidden="true"></i>100 Quang Trung Street , Go Vap District, Ho Chi Minh City.</p>
      <p><i class="fa fa-phone" aria-hidden="true"></i>+84 123 4567 890 , +1234 777 888</p>
      <p><a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i>abc@gmail.com</a></p>
      <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>



