<div class="container" style="padding: 30px">
  <div class="row justify-content-center align-items-center" style="padding: 40px">
    <form #searchTenderForm="ngForm" class="form-inline">
      <input type="text" name="searchTender" ngModel class="form-control" placeholder="Search tender...">
      <button type="button" class="btn btn-primary" style="margin-left: 20px"
              (click)="search(searchTenderForm.value.searchTender, 1)">Search
      </button>
    </form>
  </div>
  <table class="table hvr-glow" *ngFor="let myTender of tenders"
         style="border: 1px solid #e6e7eb; background-color: white"
         (click)="viewTenderDetail(myTender.tenderID)">
    <thead class="thead-light">
    <tr>
      <th scope="col" style="width: 400px">Tender Title</th>
      <th scope="col" style="width: 250px">Product Name</th>
      <th scope="col" style="width: 200px">Tender Value</th>
      <th scope="col" style="width: 250px">Bid Closing Day</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">{{myTender.tenderTitle}}</th>
      <td>{{myTender.product.productName}}</td>
      <td>{{myTender.tenderValue}}</td>
      <td>{{myTender.closedDay}}</td>
    </tr>
    </tbody>
  </table>
</div>


<div class="modal fade" tabindex="-1" role="dialog" id="tenderDetailModal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" style="font-size: 14px">
      <div class="col-sm-12 text-center" style="padding: 5px"><h4>Tender Information</h4></div>
      <div class="col-sm-12">
        <div class="row" style="padding-bottom:10px">
          <div class="col-sm-7">
            <div style="margin-bottom:5px;border: solid 1px #A0A2AD">
              <div class="col-sm-12" style="margin-top: 5px; margin-bottom:-10px">
                <label style="text-decoration-line: underline">
                  <h5>Basic Detail</h5>
                </label>
              </div>
              <div class="row col-sm-12">
                <label class="col-sm-4">Tender ID:</label>
                <label class="col-sm-8">{{tender?.tenderID}}</label>
              </div>
              <div class="row col-sm-12">
                <label class="col-sm-4">Payment Mode:</label>
                <label class="col-sm-8">{{tender?.paymentMode.paymentModeName}}</label>
              </div>
              <div class="row col-sm-12">
                <label class="col-sm-4">No. of Covers:</label>
                <label class="col-sm-8">{{tender?.numberCover}}</label>
              </div>
            </div>
            <div class="col-sm-12" style="margin-bottom:5px;padding: 0px">
              <div class="row justify-content-between" style="margin:0px">
                <div style="border: solid 1px #A0A2AD; width: 210px">
                  <div class="col-sm-12" style="margin-top: 5px; margin-bottom:-10px">
                    <label style="text-decoration-line: underline">
                      <h5 style="font-size: 17px">Payment Instruments</h5>
                    </label>
                  </div>
                  <div class="col-sm-12">
                    <table class="table table-bordered" style="padding: 0px;">
                      <thead class="table-info">
                      <tr>
                        <th scope="col" style="padding: 5px;">#</th>
                        <th scope="col" style="padding: 5px;">Instrument Type</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let paymentType of tender?.paymentTypes; let i = index">
                        <td scope="row" style="padding: 5px;">{{i + 1}}</td>
                        <td style="padding: 5px;">{{paymentType.paymentTypeName}}</td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div style="border: solid 1px #A0A2AD; width: 210px">
                  <div class="col-sm-12" style="margin-top: 5px; margin-bottom:-10px">
                    <label style="text-decoration-line: underline">
                      <h5 style="font-size: 17px">Covers Information</h5>
                    </label>
                  </div>
                  <div class="col-sm-12">
                    <table class="table table-bordered">
                      <thead class="table-info">
                      <tr>
                        <th scope="col" style="padding: 5px;">#</th>
                        <th scope="col" style="padding: 5px;">Description</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let tenderFile of tender?.tenderFiles; let i = index">
                        <td scope="row" style="padding: 5px;">{{i + 1}}</td>
                        <td style="padding: 5px;"><a href="{{tenderFile.fileUrl}}">{{tenderFile.fileUrl|slice:34}}</a>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div style="margin-bottom:5px;border: solid 1px #A0A2AD">
              <div class="col-sm-12" style="margin-top: 5px; margin-bottom:-10px">
                <label style="text-decoration-line: underline">
                  <h5>Work Item Detaill</h5>
                </label>
              </div>
              <div class="row col-sm-12">
                <label class="col-sm-4">Title:</label>
                <label class="col-sm-8">{{tender?.tenderTitle}}</label>
              </div>
              <div class="row col-sm-12">
                <label class="col-sm-4">Description:</label>
                <label class="col-sm-8">{{tender?.description}}</label>
              </div>
              <div class="row col-sm-12">
                <label class="col-sm-4">Tender Value:</label>
                <label class="col-sm-8">{{tender?.tenderValue}} VND</label>
              </div>
              <div class="row col-sm-12">
                <label class="col-sm-4">Product Name:</label>
                <label class="col-sm-8">{{tender?.product.productName}}</label>
              </div>
              <div class="row col-sm-12">
                <label class="col-sm-4">Period of Work:</label>
                <label class="col-sm-8">{{tender?.periodTime}} day(s)</label>
              </div>
            </div>
            <div style="margin-bottom:5px;border: solid 1px #A0A2AD">
              <div class="col-sm-12" style="margin-top: 5px; margin-bottom:-10px">
                <label style="text-decoration-line: underline">
                  <h5>Fee Detail</h5>
                </label>
              </div>
              <div class="row col-sm-12">
                <label class="col-sm-6">EMD Amount in VND:</label>
                <label class="col-sm-6">{{tender?.emdFee}}</label>
              </div>
            </div>
            <div style="margin-bottom:5px;border: solid 1px #A0A2AD">
              <div class="col-sm-12" style="margin-top: 5px; margin-bottom:-10px">
                <label style="text-decoration-line: underline">
                  <h5>Critical Dates</h5>
                </label>
              </div>
              <div class="row col-sm-12">
                <label class="col-sm-4">Published Date:</label>
                <label class="col-sm-8">{{tender?.createdDay}}</label>
              </div>
              <div class="row col-sm-12">
                <label class="col-sm-4" style="padding-right:0px">Bid Closing Date:</label>
                <label class="col-sm-8">{{tender?.closedDay}}</label>
              </div>
            </div>
            <!--<div class="row text-center align-items-center justify-content-center" style="height: 120px">
              <h1 style="font-size: 40px" class="text-info" id="countdown">00d 00h 00m 00s</h1>
            </div>-->


          </div>
          <div class="col-sm-5" style="border-left: solid 1px grey">
            <div class="row justify-content-center text-center"><h5>Bid Solicitor Information</h5></div>
            <div class="row" style="padding: 0px; margin-right:0px">
              <div class="col-sm-3" style="padding:5px">
                <img
                  src="{{tender?.buyer.companyLogo}}"
                  style="width: 70px; height: 70px">
              </div>
              <div class="col-sm-9" style="padding:0px">
                <div class="row align-items-center">
                  <label class="col-sm-6" style="padding-right:5px; margin-top: 10px">Company Name:</label>
                  <label class="col-sm-6" style="padding: 0px;">{{tender?.buyer.companyName}}</label>
                  <label class="col-sm-6" style="padding-right: 5px; margin-top: 10px">Company Phone:</label>
                  <label class="col-sm-6" style="padding: 0px">{{tender?.buyer.companyPhone}}</label>
                </div>
              </div>
            </div>
            <div class="row" style="padding: 0px">
              <div class="col-sm-5 text-center" style="padding:8px">
                <h2 style="margin:15px">{{tender?.buyer.rate | number:'1.1-1'}}</h2>
                <div style="font-size: 12px;">
                  <rating [(ngModel)]="buyerRateStar" [readonly]="true"></rating>
                </div>
                <div>
                  <span class="fa fa-user"></span> {{total}} total
                </div>
              </div>
              <div class="col-sm-7" style="padding: 0px">
                <div class="row  align-items-center text-center" style="padding: 0px">
                  <div class="col-sm-3" style="font-size: 12px; padding: 0px">
                    <rating [(ngModel)]="star5" [readonly]="true" [max]="1"></rating>
                    <label>5</label>
                  </div>
                  <div class="col-sm-7" style="padding: 0px">
                    <div class="progress">
                      <div class="progress-bar bg-info" role="progressbar"
                           aria-valuemin="0" aria-valuemax="100" [style.width]="(tender?.buyer.star5/total)*100+'%'">
                        <span *ngIf="tender?.buyer.star5>0">{{tender?.buyer.star5}}</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row  align-items-center text-center" style="padding: 0px">
                  <div class="col-sm-3" style="font-size: 12px; padding: 0px">
                    <rating [(ngModel)]="star4" [readonly]="true" [max]="1"></rating>
                    <label>4</label>
                  </div>
                  <div class="col-sm-7" style="padding: 0px">
                    <div class="progress">
                      <div class="progress-bar bg-info" role="progressbar"
                           aria-valuemin="0" aria-valuemax="100" [style.width]="(tender?.buyer.star4/total)*100+'%'">
                        <span *ngIf="tender?.buyer.star4>0">{{tender?.buyer.star4}}</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row  align-items-center text-center" style="padding: 0px">
                  <div class="col-sm-3" style="font-size: 12px; padding: 0px">
                    <rating [(ngModel)]="star3" [readonly]="true" [max]="1"></rating>
                    <label>3</label>
                  </div>
                  <div class="col-sm-7" style="padding: 0px">
                    <div class="progress">
                      <div class="progress-bar bg-info" role="progressbar"
                           aria-valuemin="0" aria-valuemax="100" [style.width]="(tender?.buyer.star3/total)*100+'%'">
                        <span *ngIf="tender?.buyer.star3>0">{{tender?.buyer.star3}}</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row  align-items-center text-center" style="padding: 0px">
                  <div class="col-sm-3" style="font-size: 12px; padding: 0px">
                    <rating [(ngModel)]="star2" [readonly]="true" [max]="1"></rating>
                    <label>2</label>
                  </div>
                  <div class="col-sm-7" style="padding: 0px">
                    <div class="progress">
                      <div class="progress-bar bg-info" role="progressbar"
                           aria-valuemin="0" aria-valuemax="100" [style.width]="(tender?.buyer.star2/total)*100+'%'">
                        <span *ngIf="tender?.buyer.star2>0">{{tender?.buyer.star2}}</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row  align-items-center text-center" style="padding: 0px">
                  <div class="col-sm-3" style="font-size: 12px; padding: 0px">
                    <rating [(ngModel)]="star1" [readonly]="true" [max]="1"></rating>
                    <label>1</label>
                  </div>
                  <div class="col-sm-7" style="padding: 0px">
                    <div class="progress">
                      <div class="progress-bar bg-info" role="progressbar"
                           aria-valuemin="0" aria-valuemax="100" [style.width]="(tender?.buyer.star1/total)*100+'%'">
                        <span *ngIf="tender?.buyer.star1>0">{{tender?.buyer.star1}}</span>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <div class="row" style="padding: 0px">
              <div class="col-sm-6" style="padding-right: 5px; margin-bottom: 10px">Company Tax Code:</div>
              <div class="col-sm-6" style="padding: 0px; margin-bottom: 10px">{{tender?.buyer.companyTaxCode}}</div>
              <div class="col-sm-6" style="padding-right: 5px; margin-bottom: 10px">Company Website:</div>
              <div class="col-sm-6" style="padding: 0px; margin-bottom: 10px"><a
                href="{{tender?.buyer.companyWebsite}}">{{tender?.buyer.companyWebsite}}</a></div>
              <div class="col-sm-6" style="padding-right: 5px; margin-bottom: 10px">Company Fax:</div>
              <div class="col-sm-6" style="padding: 0px; margin-bottom: 10px">{{tender?.buyer.companyFax}}</div>
              <div class="col-sm-6" style="padding-right: 5px; margin-bottom: 10px">Established Year:</div>
              <div class="col-sm-6" style="padding: 0px">{{tender?.buyer.establishedYear}}</div>
              <div class="col-sm-6" style="padding-right: 5px; margin-bottom: 10px">Company Email:</div>
              <div class="col-sm-6" style="padding: 0px">{{tender?.buyer.companyEmail}}</div>
              <div class="col-sm-6" style="padding-right: 5px">Company Address:</div>
              <div class="col-sm-6" style="padding: 0px">{{tender?.buyer.companyAddress}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="row text-center justify-content-center"><h4>Bid Tender</h4></div>
        <div *ngIf="checkBid==null || user.role!='SUPPLIER'"
             class="row justify-content-center align-items-center text-center">
          <p class="text-danger">* This function is only for supplier.<br>Register as a supplier to bid this tender.
          </p>
        </div>
        <div *ngIf="checkBid=='false' && user.role=='SUPPLIER'"
             class="row text-center justify-content-center align-items-center">
          <form #bidTenderForm="ngForm" class="row col-sm-12">
            <div class="row col-sm-12">
              <label class="col-sm-4 text-right">Bid Prices: <span class="star">*</span></label>
              <div class="col-sm-8">
                <input type="number" required [min]="0" [max]="1000000000000" #price="ngModel" name="price" ngModel
                       class="form-control"
                       placeholder="Enter your bid prices" style="font-size: 14px">
              </div>
            </div>
            <div *ngIf="price.invalid && (price.dirty || price.touched)"
                 class="row col-sm-12 error">
              <label class="col-sm-4"></label>
              <div *ngIf="price.errors.required" class="col-sm-8 text-left justify-content-start">
                Your unit price is required and must be a number.
              </div>
              <div *ngIf="price.errors?.min" class="col-sm-8 text-left justify-content-start">
                Your unit price must be ≥ 0 VND.
              </div>
              <div *ngIf="price.errors?.min" class="col-sm-8 text-left justify-content-start">
                Your unit price must be ≤ 1000 000 000 000 VND.
              </div>
            </div>
            <div class="row col-sm-12" style="margin-top: 5px">
              <label class="col-sm-4 text-right">Period of work (days): <span class="star">*</span></label>
              <div class="col-sm-8">
                <input type="number" required [min]="0" [max]="1095" #period="ngModel" name="period" ngModel
                       class="form-control"
                       placeholder="Enter your period of work (days)" style="font-size: 14px">
              </div>
            </div>
            <div *ngIf="period.invalid && (period.dirty || period.touched)"
                 class="row col-sm-12 error text-center">
              <label class="col-sm-4"></label>
              <div *ngIf="period.errors.required" class="col-sm-8 text-left justify-content-start">
                Your unit price is required and must be a number.
              </div>
              <div *ngIf="period.errors?.min" class="col-sm-8 text-left justify-content-start">
                Your unit price must be ≥ 0.
              </div>
              <div *ngIf="period.errors?.min" class="col-sm-8 text-left justify-content-start">
                Your unit price must be ≤ 3 years (1095 days).
              </div>
            </div>
            <div class="row col-sm-12" style="margin-top: 5px">
              <label class="col-sm-4 text-right">Attach File: <span class="star">*</span></label>
              <div class="col-sm-8 text-left justify-content-start">
                <button onclick="document.querySelector('#attachFile').click()">
                  Add File
                </button>
                <label *ngIf="attachFile!=null" class="text-dark">
                  {{attachFile.name}}
                </label>
                <input hidden type="file" accept=".xlsx,.xls,.doc,.docx,.pdf"
                       (change)="importAttachFile($event)"
                       class="form-control-file" id="attachFile">
                <div *ngIf="fileType == false" class="error">Supported formats: .doc .docx .xls .xlsx .pdf</div>

              </div>
            </div>
            <div class="row col-sm-12 justify-content-center text-center" style="margin: 10px">
              <button [disabled]="bidTenderForm.invalid || attachFile==null" type="button" class="btn btn-primary"
                      style="font-size: 14px;margin-left: 10px"
                      (click)="bidTender(tender?.tenderID, price.value, period.value)">
                BID
              </button>
            </div>
          </form>
        </div>

        <div *ngIf="checkBid=='true' && user.role=='SUPPLIER'"
             class="row justify-content-center align-items-center text-center" style="padding: 10px">
          <p class="text-info">You've bidded this tender! Your information:</p>
          <table class="table table-bordered">
            <thead class="thead-light">
            <tr>
              <th scope="col">Bid Price</th>
              <th scope="col">Period of work</th>
              <th scope="col">Attach file</th>
              <th scope="col">Bid Day</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td scope="row">{{myTenderInfo?.bidPrice}} VND</td>
              <td scope="row">{{myTenderInfo?.workPeriod}} day(s)</td>
              <td scope="row"><a href="{{myTenderInfo?.fileUrl}}">{{myTenderInfo?.fileUrl|slice:34}}</a></td>
              <td><i>{{myTenderInfo?.tenderDate}}</i></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<button id="tenderDetailButton" [hidden]="true" data-toggle="modal" data-target="#tenderDetailModal">Open Modal</button>
